{{ set(this, 'title', 'Edit Profile') }}
{% set networkData  = _Network.getNetworkData() %}
{% set propBlogId   = blogData.additionalInfo['propertylistingsid'] %}
{% set blogData     = _Blog.getBlog() %}
{% set config       = _Network.getThemeConfig() %}

<!-- Begin User Profile Page -->

{% set propListingsArr = [] %}
{% set pwstats = _User.getPaywallStats(true) %}
{% set plans = _Paywall.getActiveNetworkPaywallPlans() %}
{% set userLimit = 10 %}
{% set user = _User.getUser() %}

{% if user %} 
    {% set propListingsArr = _User.getUserArticles(user.guid, 0, 10, {'blogs':[propBlogId], 'status': 'published'}) %}
{% endif %}


{% set totalPlanUserCount  = 0 %}
{% if pwstats.userManager == true  %}
    {% set totalPlanUserCount = pwstats['user_count'] %}
{% endif %}





{% set articleCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
<!-- 3 is job, 4 is property, 5 is event -->
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? false : false %}

<main>
    <div id="stripekey" class="cus_acnt__hidden" >{{_Network.getNetworkData()['stripe_publishable_key']}}</div>
    <div class="cus_acnt__headerBar">
        <div class="cus_acnt-container">
            <div class="cus_acnt-row">
                <div class="cus_acnt-col-12 cus_acnt-col-lg-8 mx-auto ">
                    <p class="cus_acnt__helptext cus_acnt__helptext-xs">Need help with your account? <br class="d-md-none" /><a href="{{networkData.defaultBlogUrl}}/FAQ">Read our FAQs</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="cus_acnt__info-container">
        <div class="cus_acnt-container">
            <div class="cus_acnt-row">
                <div class="cus_acnt-col-12 cus_acnt-col-lg-8 mx-auto">
                    <div class="cus_acnt-row">
                        <div class="cus_acnt-col-12 cus_acnt-col-lg-8">
                            <div class="cus_acnt__infoBox cus_acnt__infoBox-xs">
                                {{this.render('layouts/partials/messages.twig') | raw}}
                                <div class="cus_acnt__infoBox__area js-profileViewOnly">
                                    <div class="cus_acnt__infoBox-head">
                                        <div class="cus_acnt__infoBox-head--label">My account</div>
                                        <a href="javascript:;" class="cus_acnt__infoBox-head--link js-cus_acnt__showForm">Edit your details</a>
                                    </div>
                                    <div class="cus_acnt__infoBox-dataGrid">
                                        <ul>
                                            <li class="cus_acnt__infoBox-dataGrid-item">
                                                <span class="cus_acnt__infoBox-dataGrid-item--label">First name</span>
                                                <span class="cus_acnt__infoBox-dataGrid-item--value">{{user.firstname}}</span>
                                            </li>
                                            <li class="cus_acnt__infoBox-dataGrid-item">
                                                <span class="cus_acnt__infoBox-dataGrid-item--label">Last name</span>
                                                <span class="cus_acnt__infoBox-dataGrid-item--value">{{user.lastname}}</span>
                                            </li>
                                            <li class="cus_acnt__infoBox-dataGrid-item">
                                                <span class="cus_acnt__infoBox-dataGrid-item--label">Email</span>
                                                <span class="cus_acnt__infoBox-dataGrid-item--value">{{user.email}}</span>
                                            </li>
                                            <li class="cus_acnt__infoBox-dataGrid-item">
                                                <span class="cus_acnt__infoBox-dataGrid-item--label">Password</span>
                                                <span class="cus_acnt__infoBox-dataGrid-item--value">**********</span>
                                            </li>
                                            <li class="cus_acnt__infoBox-dataGrid-item">
                                                <span class="cus_acnt__infoBox-dataGrid-item--label">Organisation</span>
                                                <span class="cus_acnt__infoBox-dataGrid-item--value">{{user.business_name}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="cus_acnt__infoBox-form cus_acnt__hide">
                                        <form id="profile-form" class="c-form" action="#" method="post" autocomplete="off">
                                        <input type="hidden" name="_csrf" value="{{_AppHelper.getCsrfToken()}}" />
                                        <input type="hidden" name="profileImage" id="userProfileImage" value="" />

                                        {# FIRST NAME #}
                                        <div class="cus_acnt__form__group  has-error">
                                            <label class="cus_acnt__form__label c-account-form__label" for="first-name">First name</label>
                                            <input id="first-name" class="cus_acnt__form__input cus_acnt__form__input--bordered c-account-form__input" name="firstname" placeholder="Full Name" aria-required="true" type="text" value="{{user.firstname}}">
                                            <div class="cus_acnt__form__help-block">Please enter your first name</div>
                                        </div>

                                        {# LAST NAME #}
                                        <div class="cus_acnt__form__group">
                                            <label class="cus_acnt__form__label c-account-form__label" for="last-name">Last name</label>
                                            <input id="last-name" class="cus_acnt__form__input cus_acnt__form__input--bordered c-account-form__input" name="lastname" placeholder="Last Name" aria-required="true" type="text" value="{{user.lastname}}">
                                            <div class="cus_acnt__form__help-block"></div>
                                        </div>

                                        {# EMAIL #}
                                        <div class="cus_acnt__form__group">
                                            <label class="cus_acnt__form__label c-account-form__label" for="email">Email</label>
                                            <input id="email" class="cus_acnt__form__input cus_acnt__form__input--bordered c-account-form__input" name="email" placeholder="email" aria-required="true" type="text" value="{{user.email}}">
                                            <div class="cus_acnt__form__help-block"></div>
                                        </div>

                                        {# PASSWORD #}
                                        <div class="cus_acnt__form__group">
                                            <label class="cus_acnt__form__label c-account-form__label" for="password">Password</label>
                                            <input id="password" class="cus_acnt__form__input cus_acnt__form__input--bordered c-account-form__input" name="password" placeholder="Password" aria-required="true" type="password">
                                            <div class="cus_acnt__form__help-block"></div>
                                        </div>

                                        {# PASSWORD VERIFY #}
                                        <div class="cus_acnt__form__group">
                                            <label class="cus_acnt__form__label c-account-form__label" for="verifypassword">Verify password</label>
                                            <input id="verifypassword" class="cus_acnt__form__input cus_acnt__form__input--bordered c-account-form__input" name="verifypassword" placeholder="Set new password" aria-required="true" type="password">
                                            <div class="cus_acnt__form__help-block"></div>
                                        </div>


                                        {# ADDRESS1 #}
                                        <div class="cus_acnt__form__group">
                                            <label class="cus_acnt__form__label c-account-form__label" for="address1">Street address</label>
                                            <input id="address1" class="cus_acnt__form__input cus_acnt__form__input--bordered c-account-form__input" name="address1" placeholder="Street address" aria-required="true" type="text" value="{{user.address1}}">
                                            <div class="cus_acnt__form__help-block"></div>
                                        </div>

                                        {# ADDRESS2 #}
                                        <div class="cus_acnt__form__group">
                                            <label class="cus_acnt__form__label c-account-form__label" for="address2">Street address 2</label>
                                            <input id="address2" class="cus_acnt__form__input cus_acnt__form__input--bordered c-account-form__input" name="address2" placeholder="Street address line 2 (optional)" aria-required="true" type="text" value="{{user.address2}}">
                                            <div class="cus_acnt__form__help-block"></div>
                                        </div>

                                        {# CITY #}
                                        <div class="cus_acnt__form__group">
                                            <label class="cus_acnt__form__label c-account-form__label" for="city">City / Town</label>
                                            <input id="city" class="cus_acnt__form__input cus_acnt__form__input--bordered c-account-form__input" name="city" placeholder="City / Town" aria-required="true" type="text" value="{{user.city}}">
                                            <div class="cus_acnt__form__help-block"></div>
                                        </div>

                                        {# POSTCODE #}
                                        <div class="cus_acnt__form__group">
                                            <label class="cus_acnt__form__label c-account-form__label" for="postcode">ZIP / Postcode</label>
                                            <input id="postcode" class="cus_acnt__form__input cus_acnt__form__input--bordered c-account-form__input" name="postcode" placeholder="Postcode" aria-required="true" type="text" value="{{user.postcode}}">
                                            <div class="cus_acnt__form__help-block"></div>
                                        </div>


                                        {# ORGANISATION #}
                                        <div class="cus_acnt__form__group">
                                            <label class="cus_acnt__form__label c-account-form__label" for="organisation">Organisation</label>
                                            <input id="organisation" class="cus_acnt__form__input cus_acnt__form__input--bordered c-account-form__input" name="abn_business_name"  value="{{user.business_name}}" aria-required="true" type="text">
                                            <div class="cus_acnt__form__help-block"></div>
                                        </div>
                                        

                                        {# EMAIL ALERTS #}
                                        {# <div class="cus_acnt__form__group u-margin-top-20">
                                            <div class="button-set">
                                                <label>
                                                    <input id="alerts" name="alerts" type="checkbox" class="cus_acnt__form__checkbox validate[required]"><span><!-- fake radio --></span> Send me daily email alerts
                                                </label>
                                            </div>
                                        </div> #}
                                        

                                        {# SUBMIT #}
                                        <div class="cus_acnt__form__group cus_acnt__form__btns">
                                            <button type="submit" id="" class="js-cus_acnt__HideForm cus_acnt__btn cus_acnt__btn__solid" name="">Save changes</button>
                                            <a href="javascript:;" id="" class="js-cus_acnt__HideForm cus_acnt__btn cus_acnt__btn__bordered" name="">Cancel</a>
                                        </div>
                                    </div>

                                </div>
                                {% if pwstats.userManager == true %}
                                    <div class="cus_acnt__infoBox__area">
                                        <div class="cus_acnt__infoBox-head">
                                            <div class="cus_acnt__infoBox-head--label">Payment details</div>
                                            <a href="javascript:;" class="cus_acnt__infoBox-head--link js-cus_acnt__showForm">Update credit card</a>
                                        </div>
                                        <div class="cus_acnt__infoBox-dataGrid">
                                            <ul>
                                                <li class="cus_acnt__infoBox-dataGrid-item">
                                                    <span class="cus_acnt__infoBox-dataGrid-item--label">Payment method</span>
                                                    <span class="cus_acnt__infoBox-dataGrid-item--value">**** **** **** {{ pwstats['card_last_4']}}</span>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="cus_acnt__infoBox-form cus_acnt__hide">
                                            <form id="update-card-form" action="/update" method="post">
                                                <div class="cus_acnt__form__group">
                                                    <label class="cus_acnt__form__label c-form__label" for="creditcarddetails">Credit card</label>
                                                        <div class="three-column">
                                                            <div id="card-element">
                                                            <!-- a Stripe Element will be inserted here. -->
                                                            </div>
                                                        </div>
                                                </div>

                                                <div class="cus_acnt__form__group cus_acnt__form__btns">
                                                    <button type="submit" id="btnContact" class="js-cus_acnt__HideForm cus_acnt__btn cus_acnt__btn__solid" name="contact-button">Update details</button>
                                                    <a href="javascript:;" id="" class="js-cus_acnt__HideForm cus_acnt__btn cus_acnt__btn__bordered" name="">Cancel</a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        {% if pwstats.userManager == true %}
                            {% set totalPlanUserCount = pwstats['user_count'] %}

                            {% set managedUsersObj = _User.getPaywallManagedUsers({"limit": userLimit}) %}

                            {% set managedUserScreenCount = managedUsersObj | length %}

                            {% set managedUsers = managedUsersObj %}
                            {% if managedUsersObj['users'] is defined %}
                                {% set managedUsers = managedUsersObj['users'] %}
                                {% set managedUserScreenCount = managedUsers | length %}

                            {% endif %}


                            {% set managedUserCount = managedUsers | length %}
                            {% if managedUsersObj['totalCount'] is defined %}
                                {% set managedUserCount = managedUsersObj['totalCount'] %}
                            {% endif %}


                            {% set remainingUsers       = totalPlanUserCount - managedUserCount %}
                            {% set cardSupplied = pwstats['card_last_4'] ? 't' : 'f' %}

                            <div class="cus_acnt-col-12 cus_acnt-col-lg-4">
                                {% set planPeriod = pwstats.period %}
                                {% set planPeriodCount = "" %}

                                {% if pwstats.period_count > 1 %}
                                    {% set planPeriodCount = pwstats.period_count ~ " " %}
                                    {% set planPeriod = pwstats.period ~ 's' %}
                                {% endif %}
                                {% if pwstats['type'] == 'time' %}
                                    <div class="cus_acnt__paymentBox">
                                        {% if pwstats['status'] != 'free' %}
                                            <div class="cus_acnt__paymentBox-box1">
                                                <div class="cus_acnt__paymentBox-box1__img">
                                                    <img src="{{networkData.templatePath}}/static/icons/pay_icon.png" alt="Icon" />
                                                </div>
                                                <div class="cus_acnt__paymentBox-box1__content">
                                                    <div class="content-title">Payment due</div>
                                                    <div class="content-date">{{ pwstats['expiry_date']}}</div>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="cus_acnt__paymentBox-box2">
                                            <div class="cus_acnt__planInfo">
                                                <div class="cus_acnt__planInfo-text">Your plan</div>
                                                <div class="cus_acnt__planInfo-subInfo">{{pwstats['name']}}</div>
                                                <div class="cus_acnt__planInfo__costWrap">
                                                    <span class="cus_acnt__planInfo-amount">{{pwstats['currency']|replace({"AUD": "$", "NZD": "$", "GBP": "£", "USD": "$", "EUR": "€"})}}{{ pwstats['plan_value']/100}}</span>
                                                    <span class="cus_acnt__planInfo-month">/{{planPeriodCount}}{{planPeriod}}</span>
                                                </div>
                                                <div class="cus_acnt__planInfo-status {% if pwstats['status'] == 'cancelled' %} cancelled {% endif %}">
                                                    <div class="cus_acnt__planInfo-status--text">Status</div>
                                                    <div class="cus_acnt__planInfo-status--value">
                                                    {% if pwstats['status'] != 'free' %}
                                                        {{ pwstats['status'] | capitalize }}
                                                    {% else %}
                                                        Free
                                                    {% endif %}
                                                    </div>
                                                </div>
                                                {% if totalPlanUserCount | length > 0 %}
                                                    <div class="cus_acnt__planInfo-status">
                                                        <div class="cus_acnt__planInfo-status--text">My Users</div>
                                                        <div class="cus_acnt__planInfo-status--value">{{ managedUserScreenCount }} of {{totalPlanUserCount}}</div>
                                                    </div>
                                                {% endif %}
                                                </div>
                                            <div class="cus_acnt__subInfo">
                                                {% if pwstats['status'] == 'cancelled' %}
                                                    <div class="cus_acnt__subInfo__article-info">Your account will be permanently deleted 30 days after the most recent payment date.</div>
                                                    <a href="javascript:;" id='cancelAccount' class="cus_acnt__btn cus_acnt__btn__solid" name="">Restart subscription</a>
                                                {% else %}
                                                    <a href="javascript:;" id='cancelAccount' class="cancel-subBtn">Cancel subscription</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="cus_acnt__paymentBox">
                                        <div class="cus_acnt__paymentBox-box2">
                                            <div class="cus_acnt__planInfo">
                                                <div class="cus_acnt__planInfo-text">Your plan</div>
                                                <div class="cus_acnt__planInfo-subInfo">{{pwstats['name']}}</div>
                                                <div class="cus_acnt__planInfo__costWrap">
                                                    <span class="cus_acnt__planInfo-amount">{{pwstats['currency']|replace({"AUD": "$", "NZD": "$", "GBP": "£", "USD": "$", "EUR": "€"})}}{{ pwstats['plan_value']/100}}</span>
                                                    <span class="cus_acnt__planInfo-month">/{{planPeriodCount}}{{planPeriod}}</span>
                                                </div>
                                                <div class="cus_acnt__planInfo-status {% if pwstats['status'] == 'cancelled' %} cancelled {% endif %}">
                                                    <div class="cus_acnt__planInfo-status--text">Status</div>
                                                    <div class="cus_acnt__planInfo-status--value">{{ pwstats['status']}}</div>
                                                </div>
                                                <div class="cus_acnt__planInfo-status">
                                                    <div class="cus_acnt__planInfo-status--text">Articles Remaining</div>
                                                    <div class="cus_acnt__planInfo-status--value">{{ pwstats['article_count']}}</div>
                                                </div>
                                            </div>
                                            <div class="cus_acnt__subInfo">
                                                {% if pwstats['status'] == 'trail' %}
                                                    <a href="javascript:;" id='cancelAccount' class="cancel-subBtn">Cancel subscription</a>
                                                {% else %}
                                                    <div class="cus_acnt__subInfo__article-info">To purchase more articles, choose a plan below</div>
                                                    {% if pwstats['status'] != 'cancelled' %}
                                                        <a href="javascript:;" id='cancelAccount' class="cancel-subBtn">Cancel subscription</a>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                             </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% if pwstats.userManager == true %}
        <div class="cus_acnt__user-container">
            <div class="cus_acnt-container-fluid">
                <div class="cus_acnt-row">
                    <div class="col-12 p-0">
                        <div class="cus_acnt-container">
                            <div class="cus_acnt-row">
                                <div class="cus_acnt-col-12 cus_acnt-col-lg-8 mx-auto">
                                    <div class="cus_acnt__user-head">
                                        <div class="cus_acnt__user-head--label">Choose a plan</div>
                                        <div class="cus_acnt__user-head--sub-text">You will be asked to confirm before purchasing. </div>
                                    </div>

                                    <div class="cus_acnt__plan-table js-tableView" id="currentPlanStats"
                                        data-cardsupplied="{{cardSupplied}}"
                                        data-currentUsers="{{managedUserCount}}"
                                        data-currentPeriod="{{pwstats['period']}}"
                                        data-currentCost="{{pwstats['plan_value']}}"
                                        data-currentType="{{pwstats['type']}}"
                                        data-expiry="{{pwstats['expiry_date']}}"
                                        data-currentplanperiodcount="{{pwstats['period_count']}}>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Plan name</th>
                                                        <th colspan="3">Cost</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for plan in plans %}
                                                        
                                                        {# {% if pwstats['status'] != 'paid' and pwstats['status'] != 'trial' %} #}
                                                        {% set description = plan.description | split("!*!") %}

                                                        {% set data = _AppHelper.jsonDecode( description[0] ) %}
                                                        {% if data['showplan'] is defined and data['showplan'] == false %}
                                                            {% set continue = true %}
                                                        {% endif %}

                                                        {% set userCount = plan.user_count %}
                                                        {% set planCost = plan.plan_value / 100 %}
                                                        {% if planCost == 19.89 %}
                                                            {% set planCost = 19.90 %}
                                                        {% endif %}

                                                        {% set planPeriod = plan.period %}
                                                        {% set planPeriodCount = "" %}

                                                        {% if plan.period_count > 1 %}
                                                            {% set planPeriodCount = plan.period_count ~ " " %}
                                                            {% set planPeriod = plan.period ~ 's' %}
                                                        {% endif %}

                                                        <tr class="{% if plan.guid == pwstats['plan_guid'] %} active {% endif %} view"
                                                            data-planid          = "{{plan.guid}}"
                                                            data-planusercount   = "{{userCount}}"
                                                            data-plancost        = "{{plan.plan_value}}"
                                                            data-planperiod      = "{{plan.period}}"
                                                            data-trialstatus     = "{{plan['trial_status']}}"
                                                            data-planType        = "{{plan.type}}"
                                                            data-planPeriodCount = "{{plan.period_count}}">
                                                            <td>
                                                                <span class="cus_acnt__plan-table--title">{{plan.plan_name}}</span>
                                                            </td>
                                                            {% if plan.type != 'signup' %}                                                            
                                                                <td>
                                                                    <span class="cus_acnt__plan-table--price">
                                                                    {{plan.currency|replace({"AUD": "$", "NZD": "$", "GBP": "£", "USD": "$", "EUR": "€"})}}{{planCost|number_format(2, '.', ',')}}
                                                                                    /{{planPeriodCount}}{{planPeriod}}</span>
                                                                </td>
                                                                {% else %}
                                                                <td>
                                                                    <span class="cus_acnt__plan-table--price">Free</span>
                                                                </td>
                                                            {% endif %}
                                                            
                                                            <td>
                                                                <span class="cus_acnt__plan-table--feature js-toggleTableRow">View features</span>
                                                            </td>
                                                            <td>
                                                                {% if plan.guid != pwstats['plan_guid'] %}
                                                                    <a href="javascript:;" class="cus_acnt__plan-table--purchase j-setplan">Purchase</a>
                                                                {% else %}
                                                                    <a href="javascript:;" class="cus_acnt__plan-table--purchase">Your Plan</a>
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                        <tr class="folded">
                                                            <td colspan="4">
                                                                <div class="users-feature__list">
                                                                    <ul>
                                                                        <li>News, sport and local events</li>
                                                                        <li>Access to all articles online</li>
                                                                        <li>Save $15</li>
                                                                    </ul>
                                                                    <ul>
                                                                        <li>News, sport and local events</li>
                                                                        <li>Access to all articles online</li>
                                                                        <li>Save $15</li>
                                                                    </ul>
                                                                    <ul>
                                                                        <li>News, sport and local events</li>
                                                                        <li>Access to all articles online</li>
                                                                        <li>Save $15</li>
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        {# {% endif %} #}
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% if pwstats['type'] == 'time' and totalPlanUserCount > 0 %}
                            <div class="cus_acnt-container">
                                <div class="cus_acnt-row">
                                    <div class="cus_acnt-col-12 cus_acnt-col-lg-8 mx-auto">
                                        <div class="cus_acnt__user-head">
                                            <div class="cus_acnt__user-head--label">My users</div>
                                            <div class="cus_acnt__user-head--sub-text">You can add, search and remove users below.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="cus_acnt__user__allotment-container cus_acnt__user__allotment-container-xs">
                                <div class="cus_acnt-container">
                                    <div class="cus_acnt-row">
                                        <div class="cus_acnt-col-12 cus_acnt-col-lg-8 mx-auto">
                                            {% set usersLeft = totalPlanUserCount > 0 ? totalPlanUserCount -1 : totalPlanUserCount %}
                                            <div class="cus_acnt__user__addition">
                                                <aside class="cus_acnt__user__addition-btn">
                                                    <a id="addManagedUser" href="javascript:;" class="cus_acnt__btn cus_acnt__btn__bordered">Add user</a>
                                                </aside>
                                                <aside class="cus_acnt__user__allot-wrap">
                                                    <span class="cus_acnt__user__allot-wrap--image">
                                                        <img src="{{networkData.templatePath}}/static/icons/user_icon.png"" alt="user" class="img-fluid" />
                                                    </span>
                                                    <span class="cus_acnt__user__allot-wrap--text">Allocated users:</span>
                                                    <span class="cus_acnt__user__allot-wrap--text strong">{{managedUserCount}} of {{totalPlanUserCount}}</span>
                                                </aside>
                                            </div>
                                            <div class="cus_acnt__user__addSec">
                                                <div id="createManagedUser"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <a id="createUserErrorMessage"></a>
                            <div class="cus_acnt-container">
                                <div class="cus_acnt-row">
                                    <div class="cus_acnt-col-12 cus_acnt-col-lg-8 mx-auto">
                                        <div class="cus_acnt__user-grid cus_acnt__user-grid-xs">
                                            {% if totalPlanUserCount > userLimit and managedUserCount >= userLimit %} 
                                                <div id="menu-search" class="cus_acnt__user-grid__search">
                                                    <form method="get" id="managed-user-search" action="">
                                                        <div class="cus_acnt__user-grid__search--field">
                                                            <span>
                                                                <img src="{{networkData.templatePath}}/static/icons/icons-navigation-search.svg" />
                                                            </span>
                                                            <input id="managed-user-search-field" name="s" type="text" placeholder="Find a user" class="cus_acnt__form__input" required="" />
                                                        </div>
                                                        <div class="cus_acnt__user-grid__search--btn">
                                                            <button type="submit" class="cus_acnt__btn cus_acnt__btn__solid" type="submit" id="user-search-submit">Search</button>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="cus_acnt__user-grid__show-user">
                                                    {% set resultString = managedUserCount < 2 ? 'user' : 'users' %}
                                                    Showing {{managedUserCount}} {{resultString}}
                                                </div>
                                            {% endif %}
                                            <div id="user_profile"">
                                                <ul id="mangedUsers" class="cus_acnt__user-grid__list">
                                                    {% if managedUserCount == 0 %}
                                                        <li id="nousers" class="no-data">No users found</li>
                                                    {% else %}
                                                    
                                                        {% for user in managedUsers %}

                                                            <li id="{{user.id}}" class="user-list--items">
                                                                <aside>
                                                                    <div class="user-list--items-name">{{user.firstname}} {{user.lastname}}</div>
                                                                    <div class="user-list--items-email">{{user.email}}</div>
                                                                </aside>
                                                                <aside>
                                                                    <a href="javascript:;" class="user-list--items-remove j-delete userdetails__button">
                                                                        <span class="icon fa fa-trash"></span>
                                                                        <span>Remove</span>
                                                                    </a>
                                                                </aside>
                                                            </li>
                                                        {% endfor %}

                                                    {% endif %}

                                                </ul>

                                                {% if totalPlanUserCount > userLimit and managedUserScreenCount >= userLimit %} 

                                                    {{ this.render('partials/ajaxarticles_new.twig', {
                                                        name            : "user-load",
                                                        limit           : userLimit,
                                                        label           : "Show more",
                                                        loadtype        : "user",
                                                        container       : "mangedUsers",
                                                        card_class      : "userdetails",
                                                        buttonClass     : "managed-users__more",
                                                        cardTemplate    : "managed_user",
                                                    }) | raw }}

                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    

</main>


<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        window.intercomSettings = {
            app_id: "zxwsoz9f"
        }; 

        var usercard = new Acme.Usercard();
        Acme.userController = new Acme.UserProfileController();
        Acme.userFeed = new Acme.View.UserFeed({
            model: usercard, 
            limit: "{{userLimit}}",
            offset: 20, 
            container: $('#mangedUsers'),
            loadtype: 'user',
            inifinte: false, 
            failtext: null, 
            controller: Acme.userController
        });
    });
</script>