{{ set(this, 'title', 'Edit Profile') }}
{% set networkData  = _Network.getNetworkData() %}
{% set blogData     = _Blog.getBlog() %}
{% set config       = _Network.getThemeConfig() %}

<!-- Begin User Profile Page -->

{% set pwstats = _User.getPaywallStats(true) %}
{% set plans = _Paywall.getActiveNetworkPaywallPlans() %}
{% set userLimit = 10 %}
{% set user = _User.getUser() %}



{% set totalPlanUserCount  = 0 %}
{% if pwstats.userManager == true  %}
    {% set totalPlanUserCount = pwstats['user_count'] %}
{% endif %}




<main>
    <div id="stripekey" class="u-hide" >{{_Network.getNetworkData()['stripe_publishable_key']}}</div>
    <div class="account-headerBar">
        <div class="acme-container">
            <div class="acme-row">
                <div class="acme-col-12 mx-auto ">
                    <p class="account-headerBar__helptext account-headerBar__helptext-xs">Need help with your account? <br class="d-md-none" /><a href="{{networkData.defaultBlogUrl}}/FAQ">Read our FAQs</a></p>
                </div>
            </div>
        </div>
    </div>


    <div class="account__info-container">
        <div class="acme-container">
            <div class="acme-row">
                <div class="acme-col-12 acme-col-lg-8 acme-col-xl-7 acme-col-xxl-5 acme-offset-xl-1 acme-offset-xxl-2">
                    
                    
                    
                    



                {# ---------------------------------- #}
                {#           USER DETAILS             #}
                {# ---------------------------------- #}
                    <div class="infoBox infoBox-xs">
                        <div class="infoBox__area js-profileViewOnly">
                            <div class="infoBox__head">
                                <div class="infoBox__head-label">My account</div>
                                <a href="javascript:;" class="infoBox__head-link js-cus_acnt__showForm">Edit your details</a>
                            </div>
                            <div class="infoBox-dataGrid">
                                <ul>
                                    <li class="infoBox-dataGrid-item">
                                        <span class="infoBox-dataGrid-item--label">First name</span>
                                        <span class="infoBox-dataGrid-item--value">{{user.firstname}}</span>
                                    </li>
                                    <li class="infoBox-dataGrid-item">
                                        <span class="infoBox-dataGrid-item--label">Last name</span>
                                        <span class="infoBox-dataGrid-item--value">{{user.lastname}}</span>
                                    </li>
                                    <li class="infoBox-dataGrid-item">
                                        <span class="infoBox-dataGrid-item--label">Email</span>
                                        <span class="infoBox-dataGrid-item--value">{{user.email}}</span>
                                    </li>
                                    <li class="infoBox-dataGrid-item">
                                        <span class="infoBox-dataGrid-item--label">Password</span>
                                        <span class="infoBox-dataGrid-item--value">**********</span>
                                    </li>
                                    <li class="infoBox-dataGrid-item">
                                        <span class="infoBox-dataGrid-item--label">Organisation</span>
                                        <span class="infoBox-dataGrid-item--value">{{user.business_name}}</span>
                                    </li>
                                </ul>
                            </div>


                            {# FLASH MESSAGE FOR PROFILE UPDATE #}
                            {{this.render('layouts/partials/messages.twig') | raw}}



                            <div class="infoBox-form u-hide ">
                                <form id="profile-form" class="c-form infoBox-form__container" action="#" method="post" autocomplete="off">
                                    <input type="hidden" name="_csrf" value="{{_AppHelper.getCsrfToken()}}" />
                                    <input type="hidden" name="profileImage" id="userProfileImage" value="" />

                                    {# FIRST NAME #}
                                    <div class="infoBox-form__group">
                                        <label class="infoBox-form__label" for="first-name">First name</label>
                                        <input id="first-name" class="infoBox-form__input" name="firstname" placeholder="Full Name" aria-required="true" type="text" value="{{user.firstname}}">
                                        <div class="cus_acnt__form__help-block"></div>
                                    </div>

                                    {# LAST NAME #}
                                    <div class="infoBox-form__group">
                                        <label class="infoBox-form__label" for="last-name">Last name</label>
                                        <input id="last-name" class="infoBox-form__input" name="lastname" placeholder="Last Name" aria-required="true" type="text" value="{{user.lastname}}">
                                        <div class="cus_acnt__form__help-block"></div>
                                    </div>

                                    {# EMAIL #}
                                    <div class="infoBox-form__group">
                                        <label class="infoBox-form__label" for="email">Email</label>
                                        <input id="email" class="infoBox-form__input" name="email" placeholder="email" aria-required="true" type="text" value="{{user.email}}">
                                        <div class="cus_acnt__form__help-block"></div>
                                    </div>

                                    {# PASSWORD #}
                                    <div class="infoBox-form__group">
                                        <label class="infoBox-form__label" for="password">Password</label>
                                        <input id="password" class="infoBox-form__input" name="password" placeholder="Password" aria-required="true" type="password">
                                        <div class="cus_acnt__form__help-block"></div>
                                    </div>

                                    {# PASSWORD VERIFY #}
                                    <div class="infoBox-form__group">
                                        <label class="infoBox-form__label" for="verifypassword">Verify password</label>
                                        <input id="verifypassword" class="infoBox-form__input" name="verifypassword" placeholder="Set new password" aria-required="true" type="password">
                                        <div class="cus_acnt__form__help-block"></div>
                                    </div>

                                    {# ORGANISATION #}
                                    <div class="infoBox-form__group">
                                        <label class="infoBox-form__label" for="organisation">Organisation</label>
                                        <input id="organisation" class="infoBox-form__input" name="abn_business_name"  value="{{user.business_name}}" aria-required="true" type="text">
                                        <div class="cus_acnt__form__help-block"></div>
                                    </div>
                                    

                                    

                                    {# SUBMIT #}
                                    <div class="infoBox-form__group infoBox-form__btns">
                                        <button type="submit" id="" class="js-cus_acnt__HideForm account__btn account__btn--solid infoBox-form__button" name="">Save changes</button>
                                        <a href="javascript:;" id="" class="js-cus_acnt__HideForm account__btn account__btn--bordered infoBox-form__button" name="">Cancel</a>
                                    </div>
                                </form>
                            </div>

                        </div>



                        {% if pwstats.userManager == true %}
                        <div class="infoBox__area u-margin-top-40">
                            <div class="infoBox__head">
                                <div class="infoBox__head-label">Payment details</div>
                                <a href="javascript:;" class="infoBox__head-link js-cus_acnt__showForm">Update credit card</a>
                            </div>
                            <div class="infoBox-dataGrid">
                                <ul>
                                    <li class="infoBox-dataGrid-item">
                                        <span class="infoBox-dataGrid-item--label">Payment method</span>
                                        <span class="infoBox-dataGrid-item--value">**** **** **** {{ pwstats['card_last_4']}}</span>
                                    </li>
                                </ul>
                            </div>

                            <div class="infoBox-form u-hide">
                                <form id="update-card-form" action="/update" method="post">
                                    <div class="form__group">
                                        <label class="form__label c-form__label" for="creditcarddetails">Credit card</label>
                                        <div class="three-column">
                                            <div id="card-element">
                                            <!-- a Stripe Element will be inserted here. -->
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div id="card-errors" class="profile-section__card-errors" role="alert"></div>

                                    <div class="infoBox-form__horizontal-group u-margin-top-10">
                                        <button type="submit" id="" class="js-cus_acnt__HideForm infoBox-form__button account__btn account__btn--solid" name="contact-button">Update details</button>
                                        <a href="javascript:;" id="" class="js-cus_acnt__HideForm infoBox-form__button account__btn account__btn--bordered" name="">Cancel</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                        {% endif %}

                    </div>
                </div>



                {# ---------------------------------- #}
                {#           PLAN DETAILS             #}
                {# ---------------------------------- #}
                {% if pwstats.userManager == true %}
                    {% set totalPlanUserCount = pwstats['user_count'] %}

                    {% set managedUsersObj = _User.getPaywallManagedUsers({"limit": userLimit}) %}

                    {% set managedUserScreenCount = managedUsersObj | length %}

                    {% set managedUsers = managedUsersObj %}
                    {% if managedUsersObj['users'] is defined %}
                        {% set managedUsers = managedUsersObj['users'] %}
                        {% set managedUserScreenCount = managedUsers | length %}

                    {% endif %}


                    {% set managedUserCount = managedUsers | length %}

                    {% if managedUsersObj['totalCount'] is defined %}
                        {% set managedUserCount = managedUsersObj['totalCount'] %}
                    {% endif %}


                    {% set remainingUsers       = totalPlanUserCount - managedUserCount %}
                    {% set cardSupplied = pwstats['card_last_4'] ? 't' : 'f' %}

                    <div class="acme-col-12 acme-col-lg-4 acme-col-xl-3 acme-col-xxl-3">
                        {% set planPeriod = pwstats.period %}
                        {% set planPeriodCount = "" %}

                        {% if pwstats.period_count > 1 %}
                            {% set planPeriodCount = pwstats.period_count ~ " " %}
                            {% set planPeriod = pwstats.period ~ 's' %}
                        {% endif %}




                        <div class="">
                            
                                <div class="planInfo__top">
                                    {% if pwstats['status'] != 'free' and pwstats['type'] != 'signup' %}
                                    <div class="planInfo__top-container">
                                        <div class="planInfo__top-img">
                                            <img src="{{networkData.templatePath}}/static/icons/pay_icon.png" alt="Icon" />
                                        </div>
                                        <div class="planInfo__top-content">
                                            <div class="planInfo__top-content-title">Payment due</div>
                                            <div class="planInfo__top-content-date">{{ pwstats['expiry_date'] | date('d-m-Y')}}</div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>




                            <div class="planInfo__middle">
                                
                                <div class="planInfo">
                                    <p class="planInfo__plan-title">Your plan</p>
                                    <p class="planInfo__plan-name">{{pwstats['name']}}</p>


                                    {% if pwstats.type == 'signup' %}
                                        <div class="planInfo__costWrap">
                                            <span class="planInfo__amount">Free</span>
                                        </div>
                                    {% endif %}

                                    {% if pwstats['type'] == 'time' %}
                                        <div class="planInfo__costWrap">
                                            <span class="planInfo__amount">{{pwstats['currency']|replace({"AUD": "$", "NZD": "$", "GBP": "£", "USD": "$", "EUR": "€"})}}{{ pwstats['plan_value']/100}}</span>
                                            <span class="planInfo__month">/{{planPeriodCount}}{{planPeriod}}</span>
                                        </div>
                                    {% endif %}


                                    {% if pwstats['type'] != 'signup' %}
                                    <div class="planInfo__status {% if pwstats['status'] == 'cancelled' %} cancelled {% endif %}">
                                        <p class="planInfo__status-text">Status</p>
                                        <p class="planInfo__status-value">
                                            {% if pwstats['status'] != 'free' %}
                                                {{ pwstats['status'] | capitalize }}
                                            {% else %}
                                                Free
                                            {% endif %}
                                        </p>
                                    </div>
                                    {% endif %}


                                    {% if pwstats.type == 'article' %}
                                        <div class="planInfo__status">
                                            <p class="planInfo__status-text">Articles Remaining</p>
                                            <p class="planInfo__status-value">{{ pwstats['article_count']}}</p>
                                        </div>
                                        <p class="planInfo__article-info">To top up, choose an article plan below</p>

                                    {% endif %}


                                    {% if totalPlanUserCount | length > 0 %}
                                        <div class="planInfo__status">
                                            <p class="planInfo__status-text">My Users</p>
                                            <p class="planInfo__status-value">{{ managedUserCount }} of {{totalPlanUserCount}}</p>
                                        </div>
                                    {% endif %}



                                </div>



                                <div class="planInfo__subInfo">
                                    {% if pwstats['status'] == 'cancelled' %}
                                        <a href="javascript:;" id='cancelAccount' class="planInfo__subInfo-button account__btn account__btn--solid" name="">Restart subscription</a>
                                    {% else %}
                                        <a href="javascript:;" id='cancelAccount' class="planInfo cancel-subBtn">Cancel subscription</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>









    {# ---------------------------------- #}
    {#           PLAN MANAGER             #}
    {# ---------------------------------- #}

    {% if pwstats.userManager == true %}
    <div class="acme-container u-margin-top-80">
        <div class="acme-row">


            {# ---------------------------------- #}
            {#           LIST OF PLANS            #}
            {# ---------------------------------- #}
            <div class="acme-col-12 acme-col-lg-12 acme-col-xl-10 acme-col-xxl-8 acme-offset-xl-1 acme-offset-xxl-2">
                <div class="plan-table__user-head">
                    <div class="plan-table__user-head-label">Choose a plan</div>
                    <div class="plan-table__user-head-sub-text">You will be asked to confirm before purchasing. </div>
                </div>

                <div class="plan-table js-tableView" id="currentPlanStats"
                    data-cardsupplied="{{cardSupplied}}"
                    data-currentPeriod="{{pwstats['period']}}"
                    data-currentCost="{{pwstats['plan_value']}}"
                    data-currentType="{{pwstats['type']}}"
                    data-expiry="{{pwstats['expiry_date']}}"
                    data-currentplanperiodcount="{{pwstats['period_count']}}">

                    <table class="plan-table__table" cellspacing="0">
                        <thead class="plan-table__header">
                            <tr class="">
                                <th class="plan-table__header-labels">Plan name</th>
                                <th class="plan-table__header-labels" colspan="3">Cost</th>
                            </tr>
                        </thead>


                        <tbody>
                        {% for plan in plans %}

                            {% set description = plan.description | split("!*!") %}
                            {% set data = {} %}
                            {% if description | length > 1 %}
                                {% set data = _AppHelper.jsonDecode( description[0] ) %}
                                {% set description = description[1] %}
                            {% else %}
                                {% set description = description[0] %}
                            {% endif %}

                            {% if data['showplan'] is defined and data['showplan'] == false %}
                                {% set continue = true %}
                            {% endif %}

                            {% set userCount = plan.user_count %}
                            {% set planCost = plan.plan_value / 100 %}
                            {% if planCost == 19.89 %}
                                {% set planCost = 19.90 %}
                            {% endif %}

                            {% set planPeriod = plan.period %}
                            {% set planPeriodCount = "" %}

                            {% if plan.period_count > 1 %}
                                {% set planPeriodCount = plan.period_count ~ " " %}
                                {% set planPeriod = plan.period ~ 's' %}
                            {% endif %}

                            <tr class="plan-table__row j-plan-details {% if plan.guid == pwstats['plan_guid'] %} active {% endif %} view"
                                data-planid          = "{{plan.guid}}"
                                data-planusercount   = "{{userCount}}"
                                data-plancost        = "{{plan.plan_value}}"
                                data-planperiod      = "{{plan.period}}"
                                data-trialstatus     = "{{plan['trial_status']}}"
                                data-planType        = "{{plan.type}}"
                                data-planPeriodCount = "{{plan.period_count}}">
                                <td class="plan-table__col">
                                    <span class="plan-table__title">{{plan.plan_name}}</span>
                                </td>
                                {% if plan.type != 'signup' %}                                                            
                                    <td class="plan-table__col">
                                        <span class="plan-table__price">
                                        {{plan.currency|replace({"AUD": "$", "NZD": "$", "GBP": "£", "USD": "$", "EUR": "€"})}}{{planCost|number_format(2, '.', ',')}}
                                        {% if plan.type != 'article' %}                
                                            /&nbsp;{{planPeriodCount}}{{planPeriod}}</span>
                                        {% endif %}
                                    </td>
                                    {% else %}
                                    <td class="plan-table__col">
                                        <span class="plan-table__price">Free</span>
                                    </td>
                                {% endif %}
                                
                                <td class="plan-table__col">
                                    <span class="plan-table__feature js-toggleTableRow">View features</span>
                                </td>
                                <td class="plan-table__col">
                                    {% if plan.guid != pwstats['plan_guid']  or pwstats.type == 'article' %}
                                        <a href="javascript:;" class="plan-table__purchase j-setplan">Purchase</a>
                                    {% else %}
                                        <a href="javascript:;" class="plan-table__purchase">Your Plan</a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr class="folded">
                                <td colspan="4">
                                    <div class="plan-features">
                                        <ul class="plan-features__row">
                                            {% for feature in description | split(";") %}
                                                <li class="plan-features__item">{{ feature }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            
                        {% endfor %}
                        </tbody>
                    </table>
                </div>










                {# ---------------------------------- #}
                {#           LIST OF USERS            #}
                {# ---------------------------------- #}

                {% if pwstats['type'] == 'time' and totalPlanUserCount > 0 %}
                <div class="acme-row">
                    <div class="acme-col-12 ">
                        <div class="plan-table__user-head">
                            <div class="plan-table__user-head-label">My users</div>
                            <div class="plan-table__user-head-sub-text">You can add, search and remove users below.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="managed-users ">
        <div class="acme-container">
            <div class="acme-row">
                <div class="col-12 acme-offset-xl-1 acme-offset-xxl-2 acme-col-xl-10 acme-col-xxl-8">

                    {% set usersLeft = totalPlanUserCount > 0 ? totalPlanUserCount -1 : totalPlanUserCount %}
                    <div class="managed-users__addition">

                        {% set addUserClass = "" %}
                        {% if managedUserCount >= totalPlanUserCount %}
                            {% set addUserClass = "u-hide" %}
                        {% endif %}

                        <div class="managed-users__addition-btn  ">
                            <a id="addManagedUser" href="javascript:;" class="account__btn account__btn--bordered js-addUserButton {{addUserClass}}">Add user</a>
                            <p id="addUserLabel"  class="managed-users__label u-hide">Add user</a>
                        </div>
                        <div class="managed-users__allot-wrap">
                            <img src="{{networkData.templatePath}}/static/icons/user_icon.png" alt="user" class="img-fluid managed-users__allot-wrap--image" />
                            <p class="managed-users__allot-wrap--text">Allocated users:</p>
                            <p class="managed-users__allot-wrap--text strong js-usercount">{{managedUserCount}} of {{totalPlanUserCount}}</p>
                        </div>
                    </div>
                    <div class="managed-users__addSec">
                        <div id="createManagedUser"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# <a id="createUserErrorMessage"></a> #}

    <div class="acme-container u-margin-bottom-80">
        <div class="acme-row">
            <div class="col-12 acme-offset-xl-1 acme-offset-xxl-2 acme-col-xl-10 acme-col-xxl-8">

                {% if totalPlanUserCount > userLimit and managedUserCount >= userLimit %} 
                <form method="get" id="managed-user-search" class="managed-users__search-form" action="">
                    <div class="managed-users__search-field">
                        <span>
                            <img src="{{networkData.templatePath}}/static/icons/icons-navigation-search.svg" />
                        </span>
                        <input id="managed-user-search-field" name="s" type="text" placeholder="Search users" class="account__form__input" required="" />
                    </div>

                    <button type="submit" class="managed-users__search-btn account__btn account__btn--solid" type="submit" id="user-search-submit">Search</button>
                    <button type="submit" class="managed-users__search-btn account__btn account__btn--solid u-hide" type="submit" id="user-search-clear">Clear</button>
                </form>


                {# <p class="managed-users__show-user">
                    {% set resultString = managedUserScreenCount < 2 ? 'user' : 'users' %}
                    Showing <span id="visible_user_count">{{managedUserScreenCount}}</span> {{resultString}}
                </p> #}
                {% endif %}



                <ul id="mangedUsers" class="user-grid__list">
                {% if managedUserCount == 0 %}
                    <li id="nousers" class="no-data">No users found</li>
                {% else %}
                    
                    {% for user in managedUsers %}
                    <li id="{{user.id}}" class="managed-user__item">
                        <div>
                            <p class="managed-user__name">{{user.firstname}} {{user.lastname}}</p>
                            <p class="managed-user__email">{{user.email}}</p>
                        </div>
                        <div style="margin-left:auto">
                            <a href="javascript:;" class="managed-user__remove j-delete userdetails__button">
                                <span class="icon fa fa-trash"></span>
                                <span>Remove</span>
                            </a>
                        </div>
                    </li>
                    {% endfor %}
                {% endif %}
                </ul>


                {% if totalPlanUserCount > userLimit and managedUserScreenCount >= userLimit %} 
                    {{ this.render('partials/ajaxarticles_new.twig', {
                        name            : "user-load",
                        buttonClass     : "managed-users__more",
                        label           : "Load more"
                    }) | raw }}

                {% endif %}
            </div>
        </div>
    </div>
    {# if time users #}
    {% endif %} 
{# plan manager #}
{% endif %}
    

</main>







<script>
    document.addEventListener("DOMContentLoaded", function(event) {

        var usercard = new Acme.Usercard();
        Acme.userController = new Acme.UserProfileController({
            currentUserCount: "{{managedUserCount}}",
            planUserCount: "{{totalPlanUserCount}}"
        });

        Acme.userFeed = new Acme.View.UserFeed({
            model: usercard, 
            limit: "{{userLimit}}",
            offset: "{{userLimit}}", 
            loadtype: 'user',
            failtext: null, 
            template: 'managed_user',
            container: $('#mangedUsers'),
            controller: Acme.userController,
            card_class: "userdetails",
        });
    });
</script>