{% import "partials/quotes.twig" as quotes %}

{{ set(this, 'title', event.title) }}
{{this.registerLinkTag({rel:'amphtml', href:_AppHelper.getServerUrl(false)~'?amp=1'})}}


{% set networkData = _Network.getNetworkData() %}
{% set site        = networkData.title | lower | split(" ")[0]%}

{% set businessDetails = _Blog.getHomeBlogSettings() %}

{% set eventImage = false %}
{% if event.media | length > 0 %}
    {% set eventImage = _Media.getMediaUrl(event.media[0], 750, 420, {'crop': 'fill', 'gravity': 'auto'} ) %}
{% endif %}

{% set startDate = _AppHelper.getDefaultTimezoneDateTime(event.startDate, 'j F Y') %}
{% set endDate = _AppHelper.getDefaultTimezoneDateTime(event.endDate, 'j F Y') %}

{% set startTime = _AppHelper.getDefaultTimezoneDateTime(event.startDate, 'g:ia') %}
{% set endTime = _AppHelper.getDefaultTimezoneDateTime(event.endDate, 'g:ia') %}

{% set date = date() %}
{% set events = _Event.getEvents({"limit": 3, "showOnGoingOnly": 1}) %}

{% set themeColor   = "#4A90E2" %}
{% if networkData['styling']['colours']['headingColor'] is defined %}
    {% set themeColor = networkData['styling']['colours']['headingColor'] %}
{% endif %}
<div class="o-body-container o-body-container-md u-margin-top-60 mb-0 c-eventdetail">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="c-eventdetail__head">
                    <div class="row">
                        <div class="col-12 col-md-10 mx-auto">
                            <div class="c-eventdetail__head-main">
                                <a href="{{ networkData.defaultBlogUrl }}/events">
                                    <div class="c-eventdetail__category">
                                        Events
                                    </div>
                                </a>
                                <div class="c-eventdetail__title">
                                    {{ quotes.smarten(event.title) }}  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row c-eventdetail__content-container">
                    <div class="row">
                        <div class="col-12 col-lg-1">
                            <div class="u-generic-socialIcons u-generic-socialIcons--alignRight u-generic-socialIcons-xs">
                                <a class="u-generic-socialIcons__item"
                                    href="mailto:?subject=Check%20out%20this%20article&body={{article.url}}"><img
                                        src="{{networkData.templatePath}}/static/icons/icons-socials-email-reverse-circle.svg" />
                                </a>
                                <a class="u-generic-socialIcons__item"
                                    href="https://www.facebook.com/sharer/sharer.php?u={{article.url}}&title={{ article.title|url_encode }}"
                                    target="_blank">
                                    <img
                                        src="{{networkData.templatePath}}/static/icons/icons-socials-facebook-reverse-circle.svg" />
                                </a>
                                <a class="u-generic-socialIcons__item"
                                    href="https://twitter.com/share?text={{ article.title|url_encode }}&url={{article.url}}"
                                    target="_blank">
                                    <img
                                        src="{{networkData.templatePath}}/static/icons/icons-socials-twitter-reverse-circle.svg" />
                                </a>
                                <a class="u-generic-socialIcons__item" href="javascript:;">
                                    <img
                                        src="{{networkData.templatePath}}/static/icons/icons-socials-linkedin-reverse-circle.svg" />
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-lg-7">
                            {% if eventImage %} 
                                <div class="c-eventdetail__media">
                                    <figure class="c-eventdetail__figure"> 
                                        <img src="{{eventImage}}" class="img-fluid" alt="Article Info">
                                    </figure>
                                </div>
                            {% endif %}

                            {% if _User.isAdminUser() %}
                                <a href="{{event.editUrl}}" target="_blank" class="c-article__edit-link">Edit event</a>
                            {% endif %}
                            <div class="c-eventdetail__container">
                                <div class="c-eventdetail__info">
                                    <div class="c-eventdetail__info-item bold">
                                        {{ this.render('partials/icons.twig', {icon: 'dateCal'} ) | raw }}
                                        <span class="c-eventdetail__info-text">{{ startDate }}{% if endDate != startDate and event.endDate != "" %} - {{endDate}}{% endif %}</span>
                                    </div>
                                    <div class="c-eventdetail__info-item">
                                        {{ this.render('partials/icons.twig', {icon: 'location'} ) | raw }}
                                        <span class="c-eventdetail__info-text">{{ event.address.address1 }},
                                        {{ event.address.suburb }}</span>
                                    </div>
                                    {% if event.contactEmail is defined and event.contactEmail is not empty %}
                                    <div class="c-eventdetail__info-item">
                                        {{ this.render('partials/icons.twig', {icon: 'email'} ) | raw }}
                                        <span class="c-eventdetail__info-text">{{event.contactEmail}}</span>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="c-eventdetail__content u-mobile-margin-top-20">
                                    {{ event.content | raw }}
                                </div>
                                <hr />
                                <div class="u-generic-socialIcons mb-5 justify-content-end">
                                    <div class="u-generic-socialIcons-text">Share article</div>
                                    <a class="u-generic-socialIcons__item"
                                        href="mailto:?subject=Check%20out%20this%20article&body={{article.url}}"><img
                                            src="{{networkData.templatePath}}/static/icons/icons-socials-email-solid.svg" />
                                    </a>
                                    <a class="u-generic-socialIcons__item"
                                        href="https://www.facebook.com/sharer/sharer.php?u={{article.url}}&title={{ article.title|url_encode }}"
                                        target="_blank">
                                        <img
                                            src="{{networkData.templatePath}}/static/icons/icons-socials-facebook-solid.svg" />
                                    </a>
                                    <a class="u-generic-socialIcons__item"
                                        href="https://twitter.com/share?text={{ article.title|url_encode }}&url={{article.url}}"
                                        target="_blank">
                                        <img
                                            src="{{networkData.templatePath}}/static/icons/icons-socials-twitter-solid.svg" />
                                    </a>
                                    <a class="u-generic-socialIcons__item" href="javascript:;">
                                        <img
                                            src="{{networkData.templatePath}}/static/icons/icons-socials-linkedin-solid.svg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3 offset-lg-1"> 
                            {% set events = _Event.getEvents({"limit": limit, "showOnGoingOnly": 1}) %}

                            <div class="c-events-panel c-events-panel-xs">
                                <h4 class="c-events-panel__head c-events-panel__head-xs">Upcoming</h4>
                                <div class="c-events-panel__details">
                                    
                                    {% for i in 0..3 if events[i] %}
                                        {{this.render('partials/_single-event-list.twig', {
                                            event: events[i], 
                                            imageSuppress: 'true',
                                            containerClass: "event-card-2-mobile event-card-2-tablet event-card-2-desktop"
                                        }) | raw}}
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% set googleMapAddress = ''%}
    {% if businessDetails.contact['address'] is not empty%}
        {% set googleMapAddress = businessDetails.contact['address'] %}
        {% if businessDetails.contact['city'] is not empty %}
            {% set googleMapAddress = googleMapAddress~','~businessDetails.contact['city'] %}
        {% endif %}
        {% if businessDetails.contact['state'] is not empty %}
            {% set googleMapAddress = googleMapAddress~','~businessDetails.contact['state'] %}
        {% endif %}
        {% if businessDetails.contact['country'] is not empty %}
            {% set googleMapAddress = googleMapAddress~','~businessDetails.contact['country'] %}
        {% endif %}
    {% endif %}

    {% if googleMapAddress is not empty %}
        <iframe
            src="https://maps.google.com/maps?q={{googleMapAddress | url_encode}}&amp;ie=UTF8&amp;&amp;output=embed"
            width="100%"
            height="500"
            frameborder="0"
            style="border:0"
            class="contact__map"
            allowfullscreen>
        </iframe>
    {% endif %}
</div>