{{ set(this, 'title', "Forgot Password") }}
{% set config       = _Network.getThemeConfig() %}

{{this.registerJs('AuthController.forgotPassword()')}}

<section class="container u-margin-top-100 u-margin-bottom-100 auth_wrapper">
    <div class="row u-flex-center">
        <div class="col-12">
            <div class="c-page-head c-page-head-xs vertical">
                <h1 class="u-heading__large--d2 text-center">Forgot Password</h1>
                <p class="sub-heading">Please enter your {{_Network.getNetworkTitle()}} username or Email address below to get a reset password link.</p>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 mx-auto">
                    <form id="forgotPasswordForm" class="login-form active" action="{{_AppHelper.getForgotPasswordUrl()}}" method="post" autocomplete="off">
                        
                        <input type="hidden" name="_csrf" value="{{_AppHelper.getCsrfToken()}}" /> 
                        {% if errors | length > 0 %}
                            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                <button class="close" aria-label="Close" data-dismiss="alert" type="button"><span aria-hidden="true">×</span></button>
                                {% for errorArr in errors %}
                                    {% for error in errorArr %}
                                        {{error}}
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div class="signin-modal__form-group">
                            <div class="signin-modal__form-group__label">
                                <label class="signin-modal__form-group__label-text">Email address</label>
                            </div>
                            <input  class="login-form__input" type="text" name="username" placeholder="{{_Network.getNetworkTitle()}} username or Email Address" value="" /> 
                        </div>
                        <button type="submit" class="c-button c-button--inline  c-button--lightBlue w-100 forget_btn" name="forget-password-button">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>