{% set networkData  = _Network.getNetworkData() %}
{% set plans        = _Paywall.getActiveNetworkPaywallPlans() %}
{% set blogData     = _Blog.getBlog(null, {'excludeMenus' : true}) %}

{% set blogName     = blogData.title %}
{% set config       = _Network.getThemeConfig() %}

{# {% if not _User.isGuest() %}
    {% set redir = _Page.setHttpRedirects(
        { '|^/.*|': networkData.defaultBlogUrl ~ '/user/edit-profile', }, false) 
    %} 
{% endif %} #}

{% set visiblePlans = [] %}            
{% for plan in plans %}
    {% if "!*!" in plan.description %}
        {% set description = plan.description | split("!*!") %}
        {% set data = _AppHelper.jsonDecode( description[0] ) %}
        {% if data['special'] is defined and data['special'] == true %}
            {% set visiblePlans = visiblePlans | merge({ ("0") : plan}) %}
        {% endif %}
    {% endif %} 
{% endfor %}




{# separate plans by currency #}
{# {% for plan in plans %}
    {% if plan.currency | lower == 'usd' and 'School' not in plan.name %}
        {% set usd = usd|merge([plan]) %}
    {% endif %}
    {% if plan.currency | lower == 'aud' and 'School' not in plan.name %}
        {% set aus = aus|merge([plan]) %}
    {% endif %}
    {% if plan.currency | lower == 'gbp' and 'School' not in plan.name %}
        {% set gbp = gbp|merge([plan]) %}
    {% endif %}
{% endfor %} #}


{# {% set ui_plans = aus | slice(0,4) %} #}
{% set blogCover = false %}   
{% set blogScreen = false %} 
{% if blogData.media.cover.path != "" %}
    {% set blogCover = true %}   
    {% set coverImgSmall  = _Media.getMediaUrl(blogData.media.cover,  767,        0,      {'crop': 'fill', 'gravity': 'faces'} ) %}
    {% set coverImgMedium = _Media.getMediaUrl(blogData.media.cover,  991,        0,      {'crop': 'fill', 'gravity': 'faces'} ) %}
    {% set coverImg       = _Media.getMediaUrl(blogData.media.cover, 2000,        0,      {'crop': 'fill', 'gravity': 'faces'} ) %}
     {# {% set coverImg       = blogData.media.cover.path %} #}
{% endif %}
{% if blogData.media.thumb.path != "" %}
    {% set blogScreen = true %} 
    {% set screenImgMedium = _Media.getMediaUrl(blogData.media.thumb,  767,        0,      {'crop': 'fill', 'gravity': 'faces'} ) %}
    {% set screenImg       = _Media.getMediaUrl(blogData.media.thumb,    0,        0,      {'crop': 'fill', 'gravity': 'faces'} ) %}
{% endif %}


{# {{this.registerJs("var signin = new Acme.Signin('signinForm', '#signin');")}} #}
{# {{this.registerJs("var signup = new Acme.Signup();")}} #}

{% set subscribeText = 'Subscribe now to ' ~ networkData.title %}
{% set signupText = 'Sign up now for unlimited access to the latest local news, sport and special features.' %}

{% if config['paywall']['subscriptions'] is defined %}
    {% if config['paywall']['subscriptions']['subscribe'] is defined and config['paywall']['subscriptions']['subscribe'] != "" %}
        {% set subscribeText = config['paywall']['subscriptions']['subscribe'] %}
    {% endif %}
    {% if config['paywall']['subscriptions']['signup'] is defined and config['paywall']['subscriptions']['signup'] != "" %}
        {% set signupText = config['paywall']['subscriptions']['signup'] %}
    {% endif %}
{% endif %}


{% set subscribeLabel = "Subscribe" %}

{% if config['paywall'] is defined %}
    {% if config['paywall']['subscribe-label'] is defined  %}
        {% set subscribeLabel = config['paywall']['subscribe-label'] %}   
    {% endif %}
{% endif %}

{% set themeColor = "#4A90E2" %}
{% if networkData['styling']['colours']['primaryColor'] is defined %}
    {% set themeColor = networkData['styling']['colours']['primaryColor'] %}
{% endif %}


<div class="c-subscriptions c-subscriptions-xs">
    <div class="c-subscriptions__content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="c-subscriptions__content-text">
                        <h1>{{subscribeText|raw}}</h1>
                        <p>{{signupText|raw}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="c-subscriptions__plans">
        <div class="container">
            <div class="row justify-content-center">
                {% for plan in visiblePlans  %}
                    {% set val = plan.plan_value / 100 %}
                    {% set planPrice = plan.currency|replace({"AUD": "$", "NZD": "$", "GBP": "£", "USD": "$", "EUR": "€"}) ~ val|number_format(2, '.', ',') %}
                    

                    <div class="col-12 col-md-4">
                        <div class="plan-wrap">
                            <div class="plan-wrap__info">
                                <div class="plan-wrap__info-name">{{plan.plan_name}}</div>
                                {% if plan.type != 'signup' %}
                                    <div class="plan-wrap__info-price">
                                        <div class="amount">{{planPrice}}</div>
                                        <div class="duration d-none">/year</div>
                                    </div>
                                    {% else %}
                                    <div class="plan-wrap__info-price">
                                        <div class="amount">Free</div>
                                    </div>
                                {% endif %}
                                {% if plan.trial_status == "1" %}
                                    <div class="plan-wrap__info-trail">Includes free {{plan.trial_period}} day trial</div>
                                {% endif %}
                            </div>
                            <div class="plan-wrap__desc">
                                <ul>
                                    {% if plan.description | length > 0 %}
                                        {% set description = plan.description | split("!*!") %}
                                        {% if description | length > 1 %}
                                            {% set description = description[1] %}
                                        {% else %}
                                            {% set description = description[0] %}
                                        {% endif %}


                                        <li>
                                        <span class="icon">
                                            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <rect width="22" height="22" fill="none"/>
                                                <path d="M11 22C4.93513 22 0 17.0657 0 11C0 4.93429 4.93513 0 11 0C12.65 0 14.238 0.356673 15.7174 1.06072C16.3052 1.33963 16.5551 2.04286 16.2761 2.63133C15.9972 3.2198 15.2909 3.46894 14.7062 3.19C13.5442 2.6369 12.2965 2.35715 11 2.35715C6.23539 2.35715 2.3571 6.2346 2.3571 11C2.3571 15.7654 6.23539 19.6429 11 19.6429C15.7645 19.6429 19.6428 15.7654 19.6428 11C19.6428 9.83405 19.4142 8.70342 18.9663 7.64029C18.7133 7.04078 18.9938 6.34935 19.5925 6.09635C20.1927 5.84256 20.8834 6.12467 21.138 6.72337C21.7101 8.07874 22 9.51738 22 11C22 17.0657 17.0649 22 11 22L11 22Z" fill="#ffffff"  />
                                                <path d="M6.42314 8.55172L9.41117 15.5972C9.91321 16.7836 10.7375 16.7852 11.3126 15.6325C14.8758 8.46827 19.5178 3.47595 21.1018 1.88482C21.4058 1.57994 21.3398 1.48101 20.954 1.67268C14.4272 4.91297 10.5369 11.4116 10.5369 11.4116L9.04561 7.75872C8.88143 7.36037 8.41622 7.13956 8.00692 7.26454L6.86371 7.6087C6.45204 7.7336 6.25561 8.1547 6.42298 8.55148L6.42314 8.55172Z" fill="#ffffff" />
                                            </svg>
                                        </span>
                                        {{(description|replace({';': '</li><li><span class="icon">
                                            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <rect width="22" height="22" fill="none"/>
                                                <path d="M11 22C4.93513 22 0 17.0657 0 11C0 4.93429 4.93513 0 11 0C12.65 0 14.238 0.356673 15.7174 1.06072C16.3052 1.33963 16.5551 2.04286 16.2761 2.63133C15.9972 3.2198 15.2909 3.46894 14.7062 3.19C13.5442 2.6369 12.2965 2.35715 11 2.35715C6.23539 2.35715 2.3571 6.2346 2.3571 11C2.3571 15.7654 6.23539 19.6429 11 19.6429C15.7645 19.6429 19.6428 15.7654 19.6428 11C19.6428 9.83405 19.4142 8.70342 18.9663 7.64029C18.7133 7.04078 18.9938 6.34935 19.5925 6.09635C20.1927 5.84256 20.8834 6.12467 21.138 6.72337C21.7101 8.07874 22 9.51738 22 11C22 17.0657 17.0649 22 11 22L11 22Z" fill="#ffffff"  />
                                                <path d="M6.42314 8.55172L9.41117 15.5972C9.91321 16.7836 10.7375 16.7852 11.3126 15.6325C14.8758 8.46827 19.5178 3.47595 21.1018 1.88482C21.4058 1.57994 21.3398 1.48101 20.954 1.67268C14.4272 4.91297 10.5369 11.4116 10.5369 11.4116L9.04561 7.75872C8.88143 7.36037 8.41622 7.13956 8.00692 7.26454L6.86371 7.6087C6.45204 7.7336 6.25561 8.1547 6.42298 8.55148L6.42314 8.55172Z" fill="#ffffff" />
                                            </svg>
                                        </span>'}))|raw}}</li>
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="plan-wrap__btn">
                                {% if plan.trial_status == "1" %}
                                        <a href="{{networkData.defaultBlogUrl}}/subscribe?plan={{plan.guid}}&amp;trial=true" class="_btn">{{subscribeLabel}}</a>
                                {% else %}
                                    <a href="{{networkData.defaultBlogUrl}}/subscribe?plan={{plan.guid}}" class="_btn">{{subscribeLabel}}</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>










    {% if config['altSites'] is defined %}
        <div class="c-subscriptions__other-pub">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>See our other publications</h2>
                    </div>
                </div>
                <div class="row c-subscriptions__other-pub__demo-Info">
                    {% for site in config['altSites'] %}
                        <div class="col-12 col-md-6 col-lg-3 c-subscriptions__other-pub__demo-Info-items">
                            <div class="content-section">
                                <div class="content-section__subs">SUBSCRIBE TO</div>
                                <div class="content-section__title">{{site.sitename}}</div>
                                <div class="content-section__image">
                                    <img src="{{networkData.templatePath}}/static/icons/laptop.png" class="img-fluid" />
                                </div>
                                <a href="{{site.url}}" target="_blank" class="content-section__link">View Subscriptions</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

</div>



