{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData  = _Network.getNetworkData() %}
{% set blogData     = _Blog.getBlog(null, {'excludeMenus' : true}) %}

{% set config       = _Network.getThemeConfig() %}
{% set currentPage  = _Blog.getBlogTitle() %}
{% set panels = _Menu.get({'menuType': 'header', "menuGroupName":  currentPage ~ " panels"}) %}
{% set url = _AppHelper.getParsedUrl() %}
{% set articleCount = 0 %}

{% set contentType = "staff" %}

{% if blogData['additionalInfo']['contenttype'] is defined %}
    {% set contentType = blogData['additionalInfo']['contenttype'] %}
{% endif %}

{# {% set log = _AppHelper.log(contentType) %} #}

{# *******************************************************
                Fetch all needed feeds
******************************************************* #}
{% set blogFeeds = {} %}

{# Get the blog feed for the section(s)  #}
{% for panel in panels %}

    {% set break = false %}
    {% set panelNo = loop.index %}
    
    {% for blog in networkData.networkBlogs if not break %}
        {% set blogTitle = blog.title %}
        {% set blogLink = blog.link %}

        {# FOR PRODUCTION #}

        {% if blogTitle | lower == panel.blogTitle | lower %}
            
            {% set feed = _Blog.getBlogFeed({
                'offset' : 0, 
                'blogid' : blog.guid
                })
            %}

            {% set blogFeeds = blogFeeds | merge({
                (blog.title) : {
                    'feed'      : feed,
                    'link'      : blog.link,
                    'guid'      : blog.guid,
                    'count'     : _Blog.getBlogFeedArticleCount({ "blog_id": blog.id})

                    }
                }) %}
            {% set break = true %}
        {% endif %}

    {% endfor %}
{% endfor %}


<main id="main" class="site-main u-margin-top-60 u-margin-bottom-60" role="main" data-article-limit="{{limit}}" data-article-count="{{articles | length}}">
    <div class="acme-container">
        <div class="acme-row">
            <div class="acme-col-12">

                <div class="c-section-head mb-0">
                    <a class="what" href="{{blogData.url}}">
                        <h1 class="c-section-head__title">{{this.title}}</h1>
                    </a>
                </div>
            </div>
        </div>
        <div class="acme-row">
           {# *********************************************
                            Main content
              ********************************************* #}
            <div class="acme-col-12 acme-col-sm-12 acme-com-xs-12">

                {# *********************************************
                                Full section page
                    ********************************************* #}
                    <div id="results" class="">
                        {% for pagesection in blogFeeds | keys %}
                            

                            {% set params = {
                                'networkData' : networkData,
                                'blogFeeds'   : blogFeeds,
                                'blogData'    : blogFeeds[pagesection],
                                'dev'         : dev,
                                'config'      : {
                                    blogs: [pagesection],
                                    template: "partials/panels/section-staff-panel",
                                    title: pagesection,
                                    nomargin: true,
                                    wrapper: false,
                                    blogLayout: blogData.layout,
                                    link: blogData.url ~"?section=" ~ pagesection | lower
                                },
                            } %}

                            {{this.render('render.twig', params) | raw}} 
                        {% endfor %}
                    </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</main>