{% import "partials/quotes.twig" as quotes %}
{{ set(this, 'title', article.title) }}
{{ this.registerLinkTag({rel:'amphtml', href:_AppHelper.getServerUrl(false)~'?amp=1'}) }}



{{this.registerJs("Acme.articleController = Acme.ArticleController();")}}


{% set blogInfo = _Blog.getBlog() %}
{% set networkData = _Network.getNetworkData() %}
{% set config       = _Network.getThemeConfig() %}

{% set relatedArticles = [] %}


{% set showPaywall = false %}
{% set ArticleContent = article.content %}

{% if   not _User.isAdminUser()     and
        paywallSection == true      and
        articleBlogData['showPaywall'] == true  %}
    
    {% set showPaywall = true %}
{% endif %}




{% if showPaywall == true %}
    {% set storySplit = ArticleContent | split('<p>')  %}
    {% set para2_words = storySplit[2] | split(' ') | slice(0, 10) %}
    {% set para2 = para2_words | join(' ') ~ '</p>'  %}
    {% set ArticleContent = '<p>' ~ [storySplit[1], para2] | join('<p>') %}

{% else %}
    {# Only grab these if article is not paywalled #}
    {# {% set relatedArticles = _Article.getPopularArticles({ blogId: article.blog.id, limit: 3, excludeArticleIds : [article.id], interval: 168 }) %} #}
    {% set recentArticles = _Article.getRecentArticles({ limit: 5, excludeArticleIds : [article.id] }) %}
{% endif %}




{% set articleImg = false %}
{% set featured = false %}

{% if article.media|length > 0 %}
    {% set articleImg = _Media.getMediaUrl(article.media[0],1094, 515, {'crop': 'fill', 'gravity': 'faces'} ) %}

    {% set featured = article.media[0].type %}
{% endif %}




{% set profileImg = _Media.getMediaUrl(article.createdBy['media'], 100, 100, {radius: 'max', gravity: 'face', 'crop': 'thumb', type: 'user'}) %}
{% set publishDate = _AppHelper.getDefaultTimezoneDateTime(article.publishDate, 'F, Y') %}
{% set updateDate = _AppHelper.getDefaultTimezoneDateTime(article.updatedDateTime,'F j, Y') %}

{% set updated = false %}
{% if article.publishedDateTime != article.updatedDateTime %}
    {% set updatedAgo = _AppHelper.getSecondsSincePublished(article.updatedDateTime) %}
    {% if updatedAgo < 86400 %}
        {% set updateDate = _AppHelper.getRelativeTime(article.updatedDateTime) ~ " ago" %}
    {% endif %}
    {% set updated = true %}
{% endif %}


{% set relatedArticles = _Article.getPopularArticles({ blogId: article.blog.id, limit: 3, excludeArticleIds : [article.id], interval: 168 }) %}
{% set recentArticles = _Article.getRecentArticles({ limit: 5, excludeArticleIds : [article.id] }) %}

{% set testCount = 0 %}



<main id="main" class="o-body-container o-body-container-md u-margin-top-60" role="main">
    <div class="c-article c-article-xs c-article__carousel">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="c-article__top">
                        <div class="col-12 col-lg-10 mx-auto">
                            <div class="row relative">
                                <div class='col-12 col-lg-8'>
                                    <div class="c-article__top-container">
                                        <div class="c-article__category-wrap">
                                            {% if article.label != article.blog.title %}
                                                <div class="c-article__additional-category">
                                                    {{article.label}}
                                                </div>
                                            {% endif %}
                                            <div class="c-article__category">
                                                {{article.blog.title}}
                                            </div>
                                        </div>
                                        <div class="c-article__title">
                                            {{ quotes.smarten(article.title) }}
                                        </div>
                                        <div class="c-article__additionalInfo">
                                            <div class="c-article__posted-on">
                                                <time class="c-article__published">{{article.publishedDate}}</time>

                                                <div class="c-article__author">
                                                    {% if config['hide-author'] is defined and config['hide-author'] %}
                                                    <p class="c-article__author-name">{{
                                                        article.createdBy['displayName'] }}</p>
                                                    {% else %}
                                                    <a class="c-article__author-name"
                                                        href="{{_AppHelper.getUserProfileUrl(article.createdBy['username'])}}/posts">{{
                                                        article.createdBy['displayName'] }}</a>
                                                    {% endif %}
                                                </div>
                                                {% if article['createdBy']['coauthors'] %}
                                                    {% for author in article['createdBy']['coauthors'] %}
                                                        <div class="c-article__author">
                                                            <div class="c-article__avatar" style="background-image: url({{ _Media.getMediaUrl(author['media'], 100, 100, {radius: 'max', gravity: 'face', 'crop': 'thumb', type: 'user'}) }});"></div>
                                                            {% if config['hide-author'] is defined and config['hide-author'] %}
                                                                <p class="c-article__author-name" >{{ author['displayName'] }}</p>
                                                            {% else %}
                                                                <a class="c-article__author-name" href="{{_AppHelper.getUserProfileUrl(author['username'])}}/posts">{{ author['displayName'] }}</a>
                                                            {% endif %}
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                            <div class="c-article__time-info">
                                                <div class="c-article__time-info--img">
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink" width="24"
                                                        height="24" viewbox="0 0 24 24">
                                                        <defs>
                                                            <path id="m4x15l1r5a"
                                                                d="M11.377 2.535C17.271 2.735 22 7.416 22 13.234 22 19.185 17.065 24 11.034 24 4.934 24 0 19.185 0 13.234c0-1.739.48-3.478 1.302-5.082.411-.736 1.645-.134 1.234.668-.754 1.338-1.165 2.876-1.165 4.414 0 5.216 4.318 9.429 9.663 9.429 5.278 0 9.595-4.213 9.595-9.43 0-5.014-4.112-9.16-9.252-9.361l1.44 1.337c.616.669-.343 1.605-.96.937L9.252 3.67c-.274-.267-.274-.668 0-.936L11.857.194c.617-.602 1.576.334.96.936l-1.44 1.405zm-.067 7.29c0-.846 1.465-.846 1.465 0v5.403c0 .39-.293.651-.732.651H8.38c-.953 0-.953-1.302 0-1.302h2.93V9.825z" />
                                                        </defs>
                                                        <g fill="none" fill-rule="evenodd">
                                                            <g>
                                                                <g>
                                                                    <g>
                                                                        <g
                                                                            transform="translate(-797.000000, -164.000000) translate(797.000000, 161.000000) translate(0.000000, 3.000000) translate(1.000000, 0.000000)">
                                                                            <mask id="fuku2ns3vb" fill="#fff">
                                                                                <use xlink:href="#m4x15l1r5a" />
                                                                            </mask>
                                                                            <use fill="#7F7F7F"
                                                                                xlink:href="#m4x15l1r5a" />
                                                                            <g fill="#636567" mask="url(#fuku2ns3vb)">
                                                                                <rect width="84" height="83" rx="6"
                                                                                    transform="translate(-24.000000, -26.000000)" />
                                                                            </g>
                                                                        </g>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </svg>
                                                </div>
                                                <div class="c-article__time-info--label">
                                                    {{article.readingTime}} min read
                                                </div>
                                            </div>
                                        </div>
                                        {% if article.userHasEditArticleAccess is defined and article.userHasEditArticleAccess == 1 %}
                                            <a href="{{article.editUrl}}" target="_blank" class="c-article__edit-link" data-access="{{article.userHasEditArticleAccess}}">Edit article</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row c-article__main-container">
                <div class="col-12 col-lg-1">
                    <div class="u-generic-socialIcons u-generic-socialIcons--sticky u-generic-socialIcons-xs">
                        <a class="u-generic-socialIcons__item"
                            href="mailto:?subject=Check%20out%20this%20article&body={{article.url}}" target="_blank"><img
                                src="{{networkData.templatePath}}/static/icons/icons-socials-email-reverse-circle.svg" />
                        </a>
                        <a class="u-generic-socialIcons__item"
                            href="https://www.facebook.com/sharer/sharer.php?u={{article.url}}&title={{ article.title|url_encode }}"
                            target="_blank">
                            <img
                                src="{{networkData.templatePath}}/static/icons/icons-socials-facebook-reverse-circle.svg" />
                        </a>
                        <a class="u-generic-socialIcons__item"
                            href="https://twitter.com/share?text={{ article.title|url_encode }}&url={{article.url}}"
                            target="_blank">
                            <img
                                src="{{networkData.templatePath}}/static/icons/icons-socials-twitter-reverse-circle.svg" />
                        </a>
                        <a class="u-generic-socialIcons__item" href="https://linkedin.com/share?text={{ article.title|url_encode }}&url={{article.url}}"
                            target="_blank">
                            <img
                                src="{{networkData.templatePath}}/static/icons/icons-socials-linkedin-reverse-circle.svg" />
                        </a>
                    </div>
                </div>
                <div class="col-12 col-lg-10">
                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <div class="gallery-container relative">
                                {% if article.media|length > 0 %}
                                    {% set imageFeature = featured == 'image' ? true : false %}
                                    {{this.render('partials/gallery.twig', {
                                        media: article.media,
                                        default: imageFeature,
                                        type: 'article',
                                        galleryStyle: 'property'
                                    }) | raw}}
                                {% endif %}
                            </div>
                            <div class="{% if showPaywall == true %} c-article__main__paywall-container {% endif %}"> 
                                <div class="row">
                                    <div class="col-12">
                                        <div class="c-article__main-content">
                                            <div class="c-article__container">
                                                {{ ArticleContent | _resizeImages({'width': 600}) | raw }}
                                            </div>
                                        </div>
                                        <hr />
                                        {% if showPaywall == false %}
                                            <div class="u-generic-socialIcons mb-3 mb-xl-5 justify-content-end">
                                                <div class="u-generic-socialIcons-text">Share article</div>
                                                <a class="u-generic-socialIcons__item"
                                                    href="mailto:?subject=Check%20out%20this%20article&body={{article.url}}" target="_blank"><img
                                                        src="{{networkData.templatePath}}/static/icons/icons-socials-email-solid.svg" />
                                                </a>
                                                <a class="u-generic-socialIcons__item"
                                                    href="https://www.facebook.com/sharer/sharer.php?u={{article.url}}&title={{ article.title|url_encode }}"
                                                    target="_blank">
                                                    <img
                                                        src="{{networkData.templatePath}}/static/icons/icons-socials-facebook-solid.svg" />
                                                </a>
                                                <a class="u-generic-socialIcons__item"
                                                    href="https://twitter.com/share?text={{ article.title|url_encode }}&url={{article.url}}"
                                                    target="_blank">
                                                    <img
                                                        src="{{networkData.templatePath}}/static/icons/icons-socials-twitter-solid.svg" />
                                                </a>
                                                <a class="u-generic-socialIcons__item" href="https://linkedin.com/share?text={{ article.title|url_encode }}&url={{article.url}}" target="_blank">
                                                    <img
                                                        src="{{networkData.templatePath}}/static/icons/icons-socials-linkedin-solid.svg" />
                                                </a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="c-propertyarticle-agent u-mobile-margin-top-50 u-margin-top-80">
                                <div class="c-propertyarticle-agent__imagebar u-margin-bottom-30">
                                    <div class="c-propertyarticle-agent__image">
                                        {% if article.additionalInfo.contactimage %}  
                                            <img src="{{article.additionalInfo.contactimage}}">
                                        {% else %}
                                            {{ this.render('partials/icons.twig', {icon: 'agent'} ) | raw }}
                                        {% endif %}
                                    </div>
                                </div>
                                {% if article.additionalInfo.contactname %}  
                                    <p class="c-propertyarticle-agent__name">{{article.additionalInfo.contactname}}</p>
                                {% endif %}
                                {% if article.additionalInfo.contactcompany %}  
                                    <p class="c-propertyarticle-agent__agency">{{article.additionalInfo.contactcompany}}</p>
                                {% endif %}
                                {% if article.additionalInfo.contactphone %}  
                                    <p class="c-propertyarticle-agent__phone u-margin-top-15">{{article.additionalInfo.contactphone}}</p>
                                {% endif %}
                                {% if article.additionalInfo.contactemail %}  
                                    <a href="mailto:{{article.additionalInfo.contactemail}}">
                                        <span class="c-propertyarticle-agent__emailbutton u-margin-top-20">
                                            <div class="c-propertyarticle-agent__emailicon">
                                                {{ this.render('partials/icons.twig', {icon: 'email'} ) | raw }}
                                            </div>
                                            GET IN TOUCH
                                        </span>
                                    </a>
                                {% endif %}

                            </div>
                            <hr class="divide">
                            <div class="c-propertyarticle-inspection">
                                <h4 class="c-propertyarticle-inspection__title">Inspection</h4>
                                {% if article.additionalInfo.inspection_date is defined and "now"|date() < article.additionalInfo.inspection_date|date() %}

                                    <span class="c-propertyarticle-inspection__dateandtime">
                                        <div class="c-propertyarticle-inspection__calicon">
                                            {{ this.render('partials/icons.twig', {icon: 'calendar'} ) | raw }}
                                        </div>
                                        {{ _AppHelper.getDefaultTimezoneDateTime(article.additionalInfo.inspection_date, "l, F j, g:i a")}}
                                    </span>
                                {% else %}
                                    <p class="c-propertyarticle-inspection__text">Please contact the Agent for inspection times.</p>
                                {% endif %}
                            </div>
                            <hr class="divide"> 
                            <div class="c-propertyarticle-links">
                                {% if article.additionalInfo.link_1_text !='' and article.additionalInfo.link_1_url !='' %} 
                                    <a href="{{article.additionalInfo.link_1_url}}" target="_blank">
                                        <p class="c-propertyarticle-links__link">{{article.additionalInfo.link_1_text}}</p>
                                    </a>
                                {% endif %}
                                {% if article.additionalInfo.link_2_text !='' and article.additionalInfo.link_2_url !='' %}
                                    <a href="{{article.additionalInfo.link_2_url}}" target="_blank">
                                        <p class="c-propertyarticle-links__link">{{article.additionalInfo.link_2_text}}</p>
                                    </a>
                                {% endif %}
                                {% if article.additionalInfo.link_3_text !='' and article.additionalInfo.link_3_url !='' %}
                                    <a href="{{article.additionalInfo.link_3_url}}" target="_blank">
                                        <p class="c-propertyarticle-links__link">{{article.additionalInfo.link_3_text}}</p>
                                    </a>
                                {% endif %}
                                {% if article.additionalInfo.link_4_text !='' and article.additionalInfo.link_4_url !='' %}
                                    <a href="{{article.additionalInfo.link_4_url}}" target="_blank">
                                        <p class="c-propertyarticle-links__link">{{article.additionalInfo.link_4_text}}</p>
                                    </a>
                                {% endif %}
                            </div>
                            {% if article.additionalInfo.features !='' %} 
                                {% set features = article.additionalInfo.features | split(',') %}
                                <hr class="divide"> 
                                <div class="c-propertyarticle-features">
                                    <h4 class="c-propertyarticle-features__title">Property features</h4>
                                    {% for feature in features %}
                                        <p class="c-propertyarticle-features__feature">{{feature}}</p>
                                    {% endfor %}
                                </div>

                            {% endif %}
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</main>