{% set networkData  = _Network.getNetworkData() %}
{% set plans        = _Paywall.getActiveNetworkPaywallPlans() %}
{% set blogData		= _Blog.getBlog() %}
{% set blogName     = blogData.title %}
{% set config       = _Network.getThemeConfig() %}

{# separate plans by currency #}
{# {% for plan in plans %}
    {% if plan.currency | lower == 'usd' and 'School' not in plan.name %}
        {% set usd = usd|merge([plan]) %}
    {% endif %}
    {% if plan.currency | lower == 'aud' and 'School' not in plan.name %}
        {% set aus = aus|merge([plan]) %}
    {% endif %}
    {% if plan.currency | lower == 'gbp' and 'School' not in plan.name %}
        {% set gbp = gbp|merge([plan]) %}
    {% endif %}
{% endfor %} #}


{# {% set ui_plans = aus | slice(0,4) %} #}
{% set blogCover = false %}   
{% set blogScreen = false %} 
{% if blogData.media.cover.path != "" %}
    {% set blogCover = true %}   
    {% set coverImgSmall  = _Media.getMediaUrl(blogData.media.cover,  767,        0,      {'crop': 'fill', 'gravity': 'faces'} ) %}
    {% set coverImgMedium = _Media.getMediaUrl(blogData.media.cover,  991,        0,      {'crop': 'fill', 'gravity': 'faces'} ) %}
    {% set coverImg       = _Media.getMediaUrl(blogData.media.cover, 2000,        0,      {'crop': 'fill', 'gravity': 'faces'} ) %}
     {# {% set coverImg       = blogData.media.cover.path %} #}
{% endif %}
{% if blogData.media.thumb.path != "" %}
    {% set blogScreen = true %} 
    {% set screenImgMedium = _Media.getMediaUrl(blogData.media.thumb,  767,        0,      {'crop': 'fill', 'gravity': 'faces'} ) %}
    {% set screenImg       = _Media.getMediaUrl(blogData.media.thumb,    0,        0,      {'crop': 'fill', 'gravity': 'faces'} ) %}
{% endif %}


{# {{this.registerJs("var signin = new Acme.Signin('signinForm', '#signin');")}} #}
{# {{this.registerJs("var signup = new Acme.Signup();")}} #}

{% set subscribeText = 'Subscribe now to<br class="hidden-xs">' ~ networkData.title %}
{% set signupText = 'Sign up now for unlimited access to the latest local news, sport and special features.' %}

{% if config['subscriptions'] is defined %}
    {% if config['subscriptions']['subscribe'] is defined and config['subscriptions']['subscribe'] != "" %}
        {% set subscribeText = config['subscriptions']['subscribe'] %}
    {% endif %}
    {% if config['subscriptions']['signup'] is defined and config['subscriptions']['signup'] != "" %}
        {% set signupText = config['subscriptions']['signup'] %}
    {% endif %}
{% endif %}


<div class="c-subscriptions c-subscriptions-xs">
    <div class="c-subscriptions__content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="c-subscriptions__content-text">
                        <h1>Subscribe now to The News</h1>
                        <p>Subscribe now to access the latest news, sport, weather and special features from our region. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="c-subscriptions__plans">
        <div class="container">
            <div class="row">
                {% for plan in plans  %}
                    {% set val = plan.plan_value / 100 %}
                    {% set planPrice = plan.currency|replace({"AUD": "$", "NZD": "$", "GBP": "£", "USD": "$", "EUR": "€"}) ~ val|number_format(2, '.', ',') %}
                    

                    <div class="col-12 col-md-4">
                        <div class="plan-wrap">
                            <div class="plan-wrap__info">
                                <div class="plan-wrap__info-name">{{plan.plan_name}}</div>
                                {% if plan.type != 'signup' %}
                                    <div class="plan-wrap__info-price">
                                        <div class="amount">{{planPrice}}</div>
                                        <div class="duration d-none">/year</div>
                                    </div>
                                {% endif %}
                                {% if plan.trial_status == "1" %}
                                    <div class="plan-wrap__info-trail">Includes free {{plan.trial_period}} day trial</div>
                                {% endif %}
                            </div>
                            <div class="plan-wrap__desc">
                                <ul>
                                    {% if plan.description | length > 0 %}
                                        <li>{{(plan.description|replace({';': '</li><li>'}))|raw}}</li>
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="plan-wrap__btn">
                                {% if plan.trial_status == "1" %}
                                        <a href="{{networkData.defaultBlogUrl}}/subscribe?plan={{plan.guid}}&amp;trial=true" class="_btn">Subscribe</a>
                                {% else %}
                                    <a href="{{networkData.defaultBlogUrl}}/subscribe?plan={{plan.guid}}" class="_btn">Subscribe</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>


    <div class="c-subscriptions__other-pub">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>See our other publications</h2>
                </div>
            </div>
            <div class="row c-subscriptions__other-pub__demo-Info">
                <div class="col-12 col-md-6 col-lg-3 c-subscriptions__other-pub__demo-Info-items">
                    <div class="content-section">
                        <div class="content-section__subs">SUBSCRIBE TO</div>
                        <div class="content-section__title">Demo Child 1</div>
                        <div class="content-section__image">
                            <img src="{{networkData.templatePath}}/static/icons/laptop.png" class="img-fluid" />
                        </div>
                        <a href="javascript:;" class="content-section__link">View Subscriptions</a>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 c-subscriptions__other-pub__demo-Info-items">
                    <div class="content-section">
                        <div class="content-section__subs">SUBSCRIBE TO</div>
                        <div class="content-section__title">Demo Child 1</div>
                        <div class="content-section__image">
                            <img src="{{networkData.templatePath}}/static/icons/laptop.png" class="img-fluid" />
                        </div>
                        <a href="javascript:;" class="content-section__link">View Subscriptions</a>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 c-subscriptions__other-pub__demo-Info-items">
                    <div class="content-section">
                        <div class="content-section__subs">SUBSCRIBE TO</div>
                        <div class="content-section__title">Demo Child 1</div>
                        <div class="content-section__image">
                            <img src="{{networkData.templatePath}}/static/icons/laptop.png" class="img-fluid" />
                        </div>
                        <a href="javascript:;" class="content-section__link">View Subscriptions</a>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 c-subscriptions__other-pub__demo-Info-items">
                    <div class="content-section">
                        <div class="content-section__subs">SUBSCRIBE TO</div>
                        <div class="content-section__title">Demo Child 1</div>
                        <div class="content-section__image">
                            <img src="{{networkData.templatePath}}/static/icons/laptop.png" class="img-fluid" />
                        </div>
                        <a href="javascript:;" class="content-section__link">View Subscriptions</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



