{% import "partials/quotes.twig" as quotes %}
{{ set(this, 'title', article.title) }}
{{ this.registerLinkTag({rel:'amphtml', href:_AppHelper.getServerUrl(false)~'?amp=1'}) }}


{% set networkData = _Network.getNetworkData() %}
{% set blogInfo = _Blog.getBlog() %}
{% set config = _Network.getThemeConfig() %}

{% set themeColor = "#4A90E2" %}
{% if networkData['styling']['colours']['headingColor'] is defined %}
{% set themeColor = networkData['styling']['colours']['headingColor'] %}
{% endif %}

{% set relatedArticles = [] %}
{% set articleBlog = article.blog.title | lower %}

{% set articleBlogInfo = _Blog.getBlog({'guid':article.blog['guid']}) %}


{% set cropped = true %}
{% if article.additionalInfo is defined and article.additionalInfo.image_crop is defined and
article.additionalInfo.image_crop == 'full' %}
{% set cropped = false %}
{% endif %}


{% set showPaywall = false %}
{% set ArticleContent = article.content %}

{% set pwstats = {} %}
{% if not _User.isGuest() %}
{% set pwstats = _User.getPaywallStats(false) %}
{% endif %}





{% set paywallType = "" %}
{% if not _User.isAdminUser() and article.showPaywall == true %}

{% set showPaywall = true %}

{# DETERMINE IF PAYWALL IS 'PAID' OR 'FREE' #}
{% if articleBlogInfo['paywallAllowSignupOnly'] == true %}
{# TURN FREE PAYWALL OFF FOR LOGGED IN USERS AND SET FREE PAYWALL TO SHOW #}

{% if not _User.isGuest() %}
{% set showPaywall = false %}
{% else %}
{% set paywallType = "signup" %}
{% endif %}


{% else %}
{# DETERMINE WHICH PAYWALL TO SHOW #}
{% if not _User.isGuest() %}

{% if pwstats['type'] == 'article' %}
{% set paywallType = "topup" %}
{% elseif pwstats['type'] == 'time' %}
{% set paywallType = "renew" %}
{% else %}
{% set paywallType = "upgrade" %}
{% endif %}

{% else %}
{% set paywallType = "subscribe" %}
{% endif %}
{% endif %}
{% endif %}




{% set trialToggle = false %}

{% if showPaywall == true %}

{% set storySplit = ArticleContent | split('</p>') %}
{% set para2 = storySplit[1] | slice(0, 80) ~ '</p>' %}
{% set ArticleContent = [storySplit[0], para2] | join('</p>') %}

{% set plans = networkData['paywallPlans'] %}
{% for plan in plans %}
{% if plan.trial_status == "1" %}
{% set trialToggle = true %}
{% endif %}
{% endfor %}

{% else %}
{# Only grab these if article is not paywalled #}
{# {% set relatedArticles = _Article.getPopularArticles({ blogId: article.blog.id, limit: 3, excludeArticleIds :
[article.id], interval: 168 }) %} #}
{% if config['inventory']['articleAd'] is defined %}
{% set adPos = config['inventory']['articleAd'] %}

{% set storySplit = ArticleContent | split('<p>') %}

    {% if storySplit[(adPos['position'] * 2) - 1] %}
    {% if adPos['slot'] is defined %}
    {% set inarticleslot = adPos['slot'] %}
    {% set ArticleContent = '
<p>' %}
    {% for para in storySplit %}
    {% set ArticleContent = ArticleContent ~ '
<p>' ~ para %}
    {% if loop.index == adPos['position'] %}
    {% set ArticleContent = ArticleContent ~ '
<div class="u-margin-top-30 u-margin-bottom-30 '~ adPos['class'] ~'">
    <div class="j-adslot" id="' ~ inarticleslot ~ '" data-adshape="banner"></div>
</div>' %}
{% endif %}
{% endfor %}
{% endif %}

{% endif %}
{% endif %}
{% set recentArticles = _Article.getRecentArticles({ limit: 5, excludeArticleIds : [article.id] }) %}
{% endif %}





{% set watermark = false %}
{% if config['watermark']['settings'] is defined and config['watermark']['sections'][articleBlog|lower] is defined %}
{% set watermark = config['watermark']['settings'] %}
{% endif %}




{% set articleImg = false %}
{% set featured = false %}
{% if article.media|length > 0 %}
{% set articleImg = true %}
{% set featured = article.media[0].type %}
{% endif %}



{% set profileImg = _Media.getMediaUrl(article.createdBy['media'], 100, 100, {radius: 'max', gravity: 'face', 'crop':
'thumb', type: 'user'}) %}
{% set publishDate = _AppHelper.getDefaultTimezoneDateTime(article.publishDate, 'F, Y') %}
{% set updateDate = _AppHelper.getDefaultTimezoneDateTime(article.updatedDateTime,'F j, Y') %}


{% set updated = false %}
{% if article.publishedDateTime != article.updatedDateTime %}
{% set updatedAgo = _AppHelper.getSecondsSincePublished(article.updatedDateTime) %}
{% if updatedAgo < 86400 %} {% set updateDate=_AppHelper.getRelativeTime(article.updatedDateTime) ~ " ago" %} {% endif
    %} {% set updated=true %} {% endif %} <main id="main" class="o-body-container o-body-container-md u-margin-top-60"
    role="main" data-paywall-type="{{paywallType}}">
        
        <div class="c-article c-article-xs c-article__galleryView">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="c-article__top">
                            <div class="col-12 col-lg-10 mx-auto">
                                <div class="row relative">
                                    <div class="col-12 col-lg-4">
                                        <div class="c-article__top-container">
                                            <div class="c-article__category-wrap">
                                                {% if article.label != article.blog.title %}
                                                    <div class="c-article__additional-category">
                                                        {{article.label}}
                                                    </div>
                                                {% endif %}
                                                <div class="c-article__category">
                                                    {{article.blog.title}}
                                                </div>
                                            </div>
                                            <div class="c-article__title">
                                                {{ quotes.smarten(article.title) }}
                                            </div>
                                            <time class="c-article__published">{{article.publishedDate}}</time>
                                            {% if article.userHasEditArticleAccess is defined and article.userHasEditArticleAccess == 1 %}
                                                <a href="{{article.editUrl}}" target="_blank" class="c-article__edit-link" data-access="{{article.userHasEditArticleAccess}}">Edit article</a>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-8">
                                        <div class="gallery-container gallery-container-xs">
                                            {% set galleryStyle = 'article' %}
                                            {% if article.media|length > 1 or not cropped %}
                                                {% set galleryStyle = 'gallery' %}
                                            {% endif %}
                                            
                                            {% if article.media|length> 0 %}
                                                {% set imageFeature = featured == 'image' ? true : false %}
                                                {{this.render('partials/gallery.twig', {
                                                media: article.media,
                                                default: imageFeature,
                                                watermark: watermark,
                                                galleryStyle: galleryStyle,
                                                showPaywall: showPaywall
                                                }) | raw}}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-10 mx-auto">
                            {% if config['inventory']['adSpace']['articleAd'][0] is defined %}
                                <div class="mt-5">
                                    <div class="j-adslot" id="{{config['inventory']['adSpace']['articleAd'][0]}}" data-adshape="articleAd"></div>
                                </div>
                            {% endif %}
                            <div class="c-article__main-content mt-5">
                                <div class="c-article__container">
                                    {{ ArticleContent | _resizeImages({'width': 600}) | raw }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>

    <script>
        // main script is defered so event listener makes sure
        // defered script is loaded before this runs
        document.addEventListener("DOMContentLoaded", function (event) {
            Acme.articleController = Acme.ArticleController();
        });
    </script>