{{ set(this, 'title', 'Reset Password') }}

{{this.registerJs('AuthController.resetPassword()')}}
{% set config       = _Network.getThemeConfig() %}

<section class="container u-margin-top-100 u-margin-bottom-100 auth_wrapper">
    <div class="row u-flex-center">
        <div class="col-12">
            <div class="c-page-head c-page-head-xs vertical">
                <div class="u-heading__large--d2 text-center">Set your password</div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 mx-auto">
                    <form id="resetPasswordForm" class="login-form active" action="" method="post" autocomplete="off">
                        
                        <input type="hidden" name="_csrf" value="{{_AppHelper.getCsrfToken()}}" /> 
                        
                        <div class="signin-modal__form-group">
                            <div class="signin-modal__form-group__label">
                                <label class="signin-modal__form-group__label-text">New password</label>
                            </div>
                            {{_AppForm.input({type:'password', name: 'password', value: '', id: 'password', class: 'form-control login-form__input', placeholder: 'New Password'}) | raw }}
                        </div>
                        <div class="signin-modal__form-group">
                            <div class="signin-modal__form-group__label">
                                <label class="signin-modal__form-group__label-text">Verify new password</label>
                            </div>
                            {{_AppForm.input({type:'password', name: 'verifypassword', value: '', class: 'form-control login-form__input', placeholder: 'Verify Password'}) | raw }}
                        </div>

                        {% if errors | length > 0 %}
                            <ul class="c-reset-password__errors">
                                {% for errorArr in errors %}
                                    {% for error in errorArr %}
                                        <li class="c-reset-password__error">{{error}}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        {% endif %}


                        {{_AppForm.button({type:'submit', name: 'resetPassword', class: 'forget_btn c-button c-button--inline  c-button--lightBlue w-100', label:'Reset password'}) | raw }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>