{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set site        = networkData.title | lower | split(" ")[0]%}
{% set blogData     = _Blog.getBlog() %}

{% set config       = _Network.getThemeConfig() %}



{% set limit = 13 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}
{% set firstCount = articles | length %}

<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set popCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? false : false %}


{% set blogLower = blogData.title | lower | split(" ")[0] %}
{% set cta = _CallToAction.getKeywordBasedCTA('cta_'~blogLower)%}
{% set ctaURL = ""%}
{% if cta.button['url'] %}
    {% set ctaURL = cta.button['url'] %}
{% endif %}


<main id="main" class="site-main u-margin-top-60" role="main" data-article-limit="{{limit}}" data-article-count="{{articles | length}}">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="c-page-head c-page-head--withBorder c-page-head-xs">
                    <div class="u-heading__large u-heading__large-xs u-pr--6">{{blogData.title}}</div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <div class="c-cards-container c-cards-container-xs bottom-border section-page-firstRow">
                    <div class="row">
                        <div class="col-12 col-lg-6 left-border">
                            {{this.render('partials/_single-article.twig', {
                                    article: articles[articleCount], 
                                    position: (articleCount+1),
                                    template: 'property',
                                    imageSize: {width: 636, height: 460},
                                    containerClass: 'card-property-mobile card-property-tablet card-property-desktop card-property-highlighter'
                                }) | raw}}
                            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                        </div>
                        <div class="col-12 col-lg-6 left-border">
                            <div class="row">
                                <div class="col-12 col-lg-6 left-border">
                                    <div class="row">
                                        {% for i in 1..2 if articles[articleCount] %}
                                            {{this.render('partials/_single-article.twig', {
                                                article: articles[articleCount], 
                                                position: (articleCount+1),
                                                template: 'property',
                                                imageSize: {width: 360, height: 270},
                                                containerClass: 'card-property-mobile card-property-tablet card-property-desktop col-12 col-md-6 col-lg-12'
                                            }) | raw}}
                                            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6 left-border">
                                    <div class="row">
                                        {% for i in 3..4 if articles[articleCount] %}
                                            {{this.render('partials/_single-article.twig', {
                                                article: articles[articleCount], 
                                                position: (articleCount+1),
                                                template: 'property',
                                                imageSize: {width: 360, height: 270},
                                                containerClass: 'card-property-mobile card-property-tablet card-property-desktop col-12 col-md-6 col-lg-12'
                                            }) | raw}}
                                            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% if config['inventory']['adSpace']['banner'][1] is defined %}
                    <div class="my-5 overflow-hidden">
                        <div class="j-adslot" id="{{config['inventory']['adSpace']['banner'][1]}}" data-adshape="banner"></div>
                    </div>
                {% endif %}
                {% if articles | length > 5 %}
                    <div class="c-cards-container c-cards-container-xs bottom-border">
                        <div class="row">
                            {% for i in 5..8 if articles[articleCount] %}
                                <div class="col-12 col-md-6 col-lg-3 left-border">
                                    {{this.render('partials/_single-article.twig', {
                                        article: articles[articleCount], 
                                        position: (articleCount+1),
                                        template: 'property',
                                        imageSize: {width: 360, height: 270},
                                        containerClass: 'card-property-mobile card-property-tablet card-property-desktop'
                                    }) | raw}}
                                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% if articles | length > 9 %}
                    <div class="c-cards-container c-cards-container-xs bottom-border">
                        <div class="row">
                            {% for i in 9..12 if articles[articleCount] %}
                                <div class="col-12 col-md-6 col-lg-3 left-border">
                                    {{this.render('partials/_single-article.twig', {
                                        article: articles[articleCount], 
                                        position: (articleCount+1),
                                        template: 'property',
                                        imageSize: {width: 360, height: 270},
                                        containerClass: 'card-property-mobile card-property-tablet card-property-desktop'
                                    }) | raw}}
                                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                                </div>
                            {% endfor %}
                        </div>
                        <section class="row mt-4" id="loadmore_section" class="loadmore__section {{site}}"></section>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</main>


<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        const events = new Acme.Card();

        Acme.loadMore = new Acme.ArticleFeed({
            model           : Acme.Card,
            container       : 'loadmore_section',
            offset          : {{limit}},
            infinite        : true,
            limit           : 12,
            label           : "Load more",
            name            : 'section-load',
            blogid          : "{{ blogData['guid'] }}",
            card_class      : 'card-2-mobile card-2-tablet card-2-desktop card-2--noDescription col-12 col-md-6 col-lg-3 left-border mb-4',
            non_pinned      : "{{ articlesArr.existingNonPinnedCount }}"
        });
    });
</script>