{{ set(this, 'title', _Blog.getBlogTitle()) }}

{# {% cache 'section_multi_1' 300 %} #}

{% set networkData  = _Network.getNetworkData() %}
{% set layoutTitle  = _Page.getLayoutTitle() | lower | replace({' ': '_'}) %}
{% set blogData     = _Blog.getBlog(null, {'excludeMenus' : true}) %}
{% set homeBlog     = blogData['title'] | lower %}
{% set config       = _Network.getThemeConfig() %}
{% set layout       = blogData.layout %}
{% set dev          = _AppHelper.getApplicationEnv() == 'DEV' ? false : false %}

{% set bannerSpots  = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] %}
{% set blogFeeds    = {} %}
{% set panels       = [] %}
{% set bannerSlots = [] %}

{{ set(this, 'params', {
    "config": config,
    "networkData": networkData
}) }}

{# *******************************************************
            CONFIG OPTIONS SET IN PLATFORM
******************************************************* #}

{% set sectionTitle = _Blog.getBlogTitle() %}

{% if config['active'] is not defined or config['active'] == true %}
    {% if config['page']['multipleSections'] is defined %}
        {% for multipleSection in config['page']['multipleSections'] %}
            {% if homeBlog == multipleSection['blogTitle'] | lower %}
                {% if multipleSection['sections'] is defined %}
                    {% set panels = multipleSection['sections'] %}
                {% endif %}

                {% if multipleSection['title'] is defined and multipleSection['title'] != '' %}
                    {% set sectionTitle = multipleSection['title'] %}
                {% endif %}

                {% if multipleSection['blogFeeds'] is defined %}
                    {% set blogFeeds = multipleSection['blogFeeds'] %}
                {% endif %}
            {% endif %}
            
        {% endfor %}
    {% endif %}

    {% if config['inventory'][blogData.title]['bannerSpots'] is defined %}
        {% set bannerSpots = config['inventory'][blogData.title]['bannerSpots'] %}
    {% endif %}

{% endif %}




{# <div class="clearfix"></div> #}


<main id="main" class="site-main u-margin-top-60 u-margin-bottom-60 multi-section" role="main" data-layout="{{layoutTitle}}">

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="c-page-head c-page-head-xs">
                    <h1 class="u-heading__large u-heading__large-xs u-pr--6">{{sectionTitle}}</h1>
                </div>
            </div>
        </div>
    </div>

{# *******************************************************
                Fetch all needed feeds
******************************************************* #}
{% for key in blogFeeds | keys %}

    {% set break = false %}
    {% for blog in networkData.networkBlogs if not break %}


        {# FOR DEV  #}
        {% if dev %}
            {% set blogFeeds = blogFeeds | merge({
                (key) : { 
                    'feed' : _Blog.getBlogFeed({'limit': 1, 'offset': 0}), 
                    'link' : blog.link 
                    } 
                }) %}
        {% endif %}


        {# FOR PRODUCTION #}
        {% if not dev and ( blog.title | lower == key | lower or blog.slug | lower == key | lower ) %}

            {% set feed = _Blog.getBlogFeed({
                'offset' : 0, 
                'blogid' : blog.guid,
                'limit'  : blogFeeds[key]['limit']
                })
            %}

            {% set blogFeeds = blogFeeds | merge({
                (key) : {
                    'feed'      : feed,
                    'link'      : blog.link
                    }
                }) %}
            {% set break = true %}
        {% endif %}

    {% endfor %}
{% endfor %}
{# 
<pre>
{{dump(blogFeeds)}}
</pre> #}


    {# *******************************************************
                        RENDER PANELS
    ******************************************************* #}
    {% set bannerNo = 1 %}
    {% for pagesection in panels | keys %}

       {% if panels[pagesection]['active'] is not defined or panels[pagesection]['active'] == true %}
       
            {% set params = {
                'networkData' : networkData,
                'blogFeeds'   : blogFeeds,
                'blogData'    : blogData,
                'config'      : panels[pagesection],
                'dev'         : dev
            } %}

            {{this.render('render.twig', params) | raw}} 

            {% if loop.index in bannerSpots %}
                {% if config['inventory']['adSpace']['banner'][bannerNo] is defined %}
                    <div class="j-adslot" id="{{config['inventory']['adSpace']['banner'][bannerNo]}}" data-adshape="banner"></div>
                {% endif %}
                {% set bannerNo = bannerNo + 1 %}
            {% endif %}


        {% endif %}

    {% endfor %}


    {% set theKeywords = '' %}
    {% if blogData.keywords is defined and blogData.keywords != '' %}
        {% set theKeywords = blogData.keywords %}
    {% endif %}


    <div id="ad-keywords" class="j-keyword-cont" data-keywords="{{theKeywords}}" data-pageName="" data-pageType="section" data-pageTag="" data-adsection=""></div>
</main><!-- .site-main -->




{# {% endcache %} #}
