{{ set(this, 'title', 'Signup Successful') }}
{% set networkData = _Network.getNetworkData() %}
{% set config       = _Network.getThemeConfig() %}
{% set thankyou = {} %}
{% if config['thank-you-page'] %}
        {% set thankyou = config['thank-you-page'] %}
{% endif %}

<main id="main" class="site-main c-thankyouPage c-thankyouPage-xs" role="main">
        <div class="container">
                <div class="row">
                        <div class="col-10 col-md-8 mx-auto">
                                <div class="row">
                                        <div class="col-12 col-md-5">
                                                <img src="{{networkData.templatePath}}/static/icons/laptop_2.png" class="img-fluid" alt="image" />
                                        </div>
                                        <div class="col-12 col-md-6 offset-md-1">
                                                <div class="c-thankyouPage__content">
                                                        {% if thankyou['headingText'] is defined and thankyou['headingText'] != '' %}
                                                                <h2 class="c-thankyouPage__content-heading">{{thankyou['headingText']}}</h2>
                                                        {% else %}
                                                                <h2 class="c-thankyouPage__content-heading">Thank you for <br class="d-none d-md-block">subscribing.</h2>
                                                        {% endif %}
                                                        {% if thankyou['descriptionText'] is defined and thankyou['descriptionText'] != '' %}
                                                                <p class="c-thankyouPage__content-subText">{{thankyou['descriptionText']}}</p>
                                                        {% else %}
                                                                <p class="c-thankyouPage__content-subText">Visit the <a href="{{networkData.defaultBlogUrl}}/user/edit-profile"><b>My Account</b></a> page to update your details.</p>
                                                        {% endif %}

                                                        {% set buttonUrl = networkData.defaultBlogUrl %}
                                                        {% set buttonText = 'Start Reading' %}
                                                        {% if thankyou['button']['url'] is defined and thankyou['button']['url'] != '' %}
                                                                {% set buttonUrl = thankyou['button']['url'] %}
                                                        {% endif %}
                                                        {% if thankyou['button']['text'] is defined and thankyou['button']['text'] != '' %}
                                                                {% set buttonText = thankyou['button']['text'] %}
                                                        {% endif %}


                                                        <div class="o-media-hero_button-set">
                                                                <a class="c-button c-button--lightBlue c-button--radius mt-5 px-4" href="{{buttonUrl}}">{{buttonText}}</a>
                                                                {% if thankyou.optButton is defined and thankyou.optButton is not empty %}
                                                                        <a class="c-button c-button--lightBlue c-button--radius mt-5 ms-3 px-4" href="{{thankyou.optButton.url}}">{{thankyou.optButton.text}}</a>
                                                                {% endif %}
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</main>
