{{ set(this, 'title', 'User Profile') }}

{% set networkData = _Network.getNetworkData() %}
{% set limit = 13 %}

{% set firstCount = userArticles | length %}

{% set config       = _Network.getThemeConfig() %}

{% set profileImage =_Media.getMediaUrl( user.media, 500, 500, {crop: 'thumb', gravity: 'face', type:'user'} ) %}

<main class="o-body-container o-body-container-md u-margin-top-60">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3">
                <div class="c-author c-author-md">
                    <div class="c-author__avatar c-author__avatar-xs u-image-covered" style="background-repeat:none;background-image:url({{profileImage}});">&nbsp;</div>
                    <div class="c-author__details c-author__details-xs">
                        <h3 class="c-author__name c-author__name-xs c-author__name-md">{{user.firstname | raw}} <br> {{user.lastname | raw}}</h3>
                        <p class="c-author__text c-author__text-md">{{Html.decode(user.bio) | raw}}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-9">
                <div class="row">
                    <div class="col-12">
                        <div class="c-cards-container c-cards-container-xs bottom-border user-profile">
                            <div class="row">
                                <div class="col-12">
                                    <div class="col-12 left-border">
                                        {{this.render('partials/_single-article.twig', {
                                            article: userArticles[0], 
                                            imageSize: {width:508, height:324},
                                            containerClass: 'card-2-mobile card-2-tablet card-7-desktop'
                                        }) | raw}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="c-cards-container c-cards-container-xs bottom-border">
                            <div class="row">
                                {% for i in 1..3 if userArticles[i] %}
                                    <div class="col-12 col-lg-4 left-border">
                                        {{this.render('partials/_single-article.twig', {
                                            article: userArticles[i], 
                                            imageSize: {width:508, height:324},
                                            containerClass: 'card-2-mobile card-2-tablet card-2-desktop card-2--noDescription'
                                        }) | raw}}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="c-cards-container c-cards-container-xs">
                            <div class="row">
                                {% for i in 4..6 if userArticles[i] %}
                                    <div class="col-12 col-lg-4 left-border">
                                        {{this.render('partials/_single-article.twig', {
                                            article: userArticles[i], 
                                            imageSize: {width:508, height:324},
                                            containerClass: 'card-2-mobile card-2-tablet card-2-desktop card-2--noDescription'
                                        }) | raw}}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="my-5 overflow-hidden">
                            {% if config['inventory']['adSpace']['banner'][1] is defined %}
                                <div class="j-adslot" id="{{config['inventory']['adSpace']['banner'][1]}}" data-adshape="banner"></div>
                            {% endif %}
                        </div>                        
                        <div class="c-cards-container c-cards-container-xs bottom-border">
                            <div class="row">
                                {% for i in 7..9 if userArticles[i] %}
                                    <div class="col-12 col-lg-4 left-border">
                                        {{this.render('partials/_single-article.twig', {
                                            article: userArticles[i], 
                                            imageSize: {width:508, height:324},
                                            containerClass: 'card-2-mobile card-2-tablet card-2-desktop card-2--noDescription'
                                        }) | raw}}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="c-cards-container c-cards-container-xs">
                            <div class="row">
                                {% for i in 10..12 if userArticles[i] %}
                                    <div class="col-12 col-lg-4 left-border">
                                        {{this.render('partials/_single-article.twig', {
                                            article: userArticles[i], 
                                            imageSize: {width:508, height:324},
                                            containerClass: 'card-2-mobile card-2-tablet card-2-desktop card-2--noDescription'
                                        }) | raw}}
                                    </div>
                                {% endfor %}
                            </div>

                            <section class="row mt-4" id="loadmore_section" class="loadmore__section {{site}}"></section>
                        </div>

                        <div class="my-5 overflow-hidden">
                            {% if config['inventory']['adSpace']['banner'][2] is defined %}
                                <div class="j-adslot" id="{{config['inventory']['adSpace']['banner'][2]}}" data-adshape="banner"></div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-12">
                        <section class="loadmore__section my-5 text-center {{site}}">
                            {% if userArticles|length >= limit %}
                                {{ this.render('/partials/load_more.twig', {
                                    name            : "section-load",
                                    label           : "Load more",
                                    buttonClass     : "u-loadmore-button",
                                }) | raw }}
                            {% endif %}
                        </section>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        const events = new Acme.Card();

        Acme.loadMore = new Acme.ArticleFeed({
            model           : Acme.Card,
            container       : 'loadmore_section',
            offset          : {{limit}},
            infinite        : true,
            limit           : {{limit}},
            label           : "Load more",
            name            : 'section-load',
            loadtype        : 'user_articles',
            card_class      : 'card-2-mobile card-2-tablet card-2-desktop card-2--noDescription col-12 col-md-6 col-lg-4 left-border mb-4'
        });
    });
</script>