
{% set config = _Network.getThemeConfig() %}
{% if paywallType == "subscribe" or paywallType == "renew" %}

    <div class="c-article__paywalled-view">
        <div class="o-paywalled">
            <div class="o-paywalled__head">
                To read the full story, subscribe to {% if config['network.alias'] is defined %} {{config['network.alias']}} {% else %} {{networkData.title}} {% endif %}.
            </div>
            <div class="o-paywalled__period">
                <a href="{{networkData.defaultBlogUrl}}/subscriptions#subscriptions" class="o-paywalled__text">Click here</a>
                to view our subscription options.
            </div>
            <div class="o-paywalled__action">
                <a href="{{networkData.defaultBlogUrl}}/subscriptions" class="c-button c-button--min-width180 c-button--lightBlue c-article__subscribe-button">Subscribe</a>
                {% if trialToggle %}
                    <a href="{{networkData.defaultBlogUrl}}/subscriptions" class="c-button c-button--min-width180 c-button--lightBlue-bordered">Start Free Trial</a>
                {% endif %}
                <a id="articleSigninBtn" href="javascript:;" class="c-button c-button--min-width180 c-button--lightBlue-bordered">Log in</a>
            </div>
        </div>
    </div>


{% elseif paywallType == "topup"  %}


    <div class="c-article__paywalled-view">
        <div class="o-paywalled">
            <div class="o-paywalled__head">
                Time to top up! You’ve reached your article limit.
            </div>
            
            <div class="o-paywalled__period">
                Visit your My account page to buy more articles.
            </div>
            <div class="o-paywalled__action">
                <a href="{{networkData.defaultBlogUrl}}/user/edit-profile" class="c-button c-button--min-width180 c-button--lightBlue">My account</a>
            </div>
        </div>
    </div>


{% elseif paywallType == "upgrade"  %}


    <div class="c-article__paywalled-view">
        <div class="o-paywalled">
            <div class="o-paywalled__head">
                To keep reading, upgrade your plan.
            </div>
            <div class="o-paywalled__period">
                Visit your My account page to view subscription options.
            </div>
             <div class="o-paywalled__action">
                <a href="{{networkData.defaultBlogUrl}}/user/edit-profile" class="c-button c-button--min-width180 c-button--lightBlue">My account</a>
            </div>
        </div>
    </div>


{% elseif paywallType == "signup"  %}

    <div class="c-article__paywalled-view">
        <div class="o-paywalled">
            <div class="o-paywalled__head">
                To keep reading, sign up for a free account.
            </div>
            <div class="o-paywalled__period">
                <a href="{{networkData.defaultBlogUrl}}/subscriptions#subscriptions" class="o-paywalled__text">Click here</a>
                to view our subscription options.
            </div>
            <div class="o-paywalled__action">
                <a href="{{networkData.defaultBlogUrl}}/subscriptions" class="c-button c-button--min-width180 c-button--lightBlue c-article__subscribe-button">Subscribe</a>
                {% if trialToggle %}
                    <a href="{{networkData.defaultBlogUrl}}/subscriptions" class="c-button c-button--min-width180 c-button--lightBlue-bordered">Start Free Trial</a>
                {% endif %}
                <a id="articleSigninBtn" href="javascript:;" class="c-button c-button--min-width180 c-button--lightBlue-bordered">Log in</a>
            </div>
        </div>
    </div>
    
{% endif %}