{% set articleCount = 0 %}
{% set cardIndex = 0 %}


<div class="row" data-section="02">
    <div class="col-12">
        <div class="u-generic-topBorder "></div>
        <div class="c-page-head c-page-head-xs">
            <div class="u-heading__large u-heading__large-xs u-pr--6" {% if labelColor != '' %} style="color:{{labelColor}}"  {% endif %}>{{title}}</div>
            {% if linkShow %}
                <a href="{{link}}" class="c-page-head__link">View all</a>
            {% endif %}
        </div>
    </div>
</div>


<div class="row">
    <div class="col hm-sec1">
        <div class="c-cards-container c-cards-container-xs bottom-border">
            <div class="row">
                <div class="col-12 col-lg-3 left-border hm-sec1_row_2_c1">
                    {% for i in 4..5 if articles[articleCount] %}
                    {{this.render('../_single-article.twig', {
                    article: articles[articleCount],
                    position: (articleCount+1),
feedBlogGuid: articles[articleCount]['requestedBlog']['guid'],
                    imageSize: {width: 459, height: 278},
                    imageSizes: {
                        "mobile": {
                            width: 550, height: 333
                        },
                        "mobileLrg": {
                            width: 550, height: 333
                        },
                        "tablet": {
                            width: 703, height: 425
                        }
                    },
                    swap : 'false',
                    containerClass: "card-2-mobile card-2-tablet card-2-desktop card-2--noDescription
                    card--verticalMulti card--verticalMulti-xs",
                    timeSuppress: timeSuppress
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    {% endfor %}
                </div>
                <div class="col-12 col-lg-6 left-border hm-sec1_row_2_c2">
                    {{this.render('../_single-article.twig', {
                    article: articles[articleCount],
                    position: (articleCount+1),
feedBlogGuid: articles[articleCount]['requestedBlog']['guid'],
                    imageSize: {width: 950, height: 675},
                    imageSizes: {
                        "mobile": {
                            width: 550, height: 333
                        },
                        "mobileLrg": {
                            width: 550, height: 333
                        },
                        "tablet": {
                            width: 703, height: 425
                        }
                    },
                    swap : 'false',
                    containerClass: "card-2-mobile card-2-tablet card-5-desktop",
                    timeSuppress: timeSuppress
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                </div>
                <div class="col-12 col-lg-3 left-border hm-sec1_row_2_c3">
                    {% for i in 6..7 if articles[articleCount] %}
                    {{this.render('../_single-article.twig', {
                    article: articles[articleCount],
                    position: (articleCount+1),
feedBlogGuid: articles[articleCount]['requestedBlog']['guid'],
                    imageSize: {width: 459, height: 278},
                    imageSizes: {
                        "mobile": {
                            width: 550, height: 333
                        },
                        "mobileLrg": {
                            width: 550, height: 333
                        },
                        "tablet": {
                            width: 703, height: 425
                        }
                    },
                    swap : 'false',
                    containerClass: "card-2-mobile card-2-tablet card-2-desktop card-2--noDescription
                    card--verticalMulti card--verticalMulti-xs",
                    timeSuppress: timeSuppress
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    {% endfor %}
                    
                    {% if articles|length == 4 and adslots[0] is defined %}
                        <div class="advertisment j-adslot" id="{{adslots[0]}}" data-adshape="mrec"></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>