{% set articleCount = 0 %}
{% set cardIndex = 0 %}

{% set cardLayoutInfo = '' %}
{% set articleLayoutInfo = '../_single-article.twig' %}
{% if cardLayout is defined and cardLayout is not empty and cardLayout == 'version2' %}
    {% set cardLayoutInfo = 'card__version2' %}
    {% set articleLayoutInfo = '../_single-article-v2.twig' %}
{% endif %}

<div class="row" data-section="00">
    <div class="col hm-sec1">
        <div class="c-cards-container c-cards-container-xs bottom-border hm-sec1_row_1 hm-firstRow">
            <div class="row">
                {% for i in 0..3 if articles[articleCount] %}

                <div class="col-12 col-lg-3 left-border">
                    {{this.render(articleLayoutInfo, {
                        article: articles[articleCount],
                        position: (articleCount+1),
                        containerClass: "card-1-mobile card-1-tablet card-1-desktop "~cardLayoutInfo,
                        timeSuppress: timeSuppress
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="c-cards-container c-cards-container-xs bottom-border hm-sec1_row_2">
            <div class="row">
                <div class="col-12 col-lg-3 left-border hm-sec1_row_2_c1">
                {# imageSize: {width: 459, height: 278},
                            imageSizes: {
                                "mobile": {
                                    width: 550, height: 333
                                },
                                "mobileLrg": {
                                    width: 550, height: 333
                                },
                                "tablet": {
                                    width: 703, height: 425
                                }
                            },  #}
                    {% for i in 4..5 if articles[articleCount] %}
                        {{this.render(articleLayoutInfo, {
                            article: articles[articleCount],
                            position: (articleCount+1),
                            containerClass: "card-2-mobile card-2-tablet card-2-desktop card-2--noDescription card--verticalMulti card--verticalMulti-xs "~cardLayoutInfo,
                            timeSuppress: timeSuppress
                        }) | raw}}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    {% endfor %}
                </div>

                {% if articles[articleCount] %}
                    <div class="col-12 col-lg-6 left-border hm-sec1_row_2_c2">
                    {# imageSize: {width: 950, height: 675},
                            imageSizes: {
                                "mobile": {
                                    width: 635, height:450
                                },
                                "mobileLrg": {
                                    width: 635, height:450
                                },
                                "tablet" : {
                                    width: 950, height:675
                                }
                            }, #}
                        {{this.render(articleLayoutInfo, {
                            article: articles[articleCount],
                            position: (articleCount+1),
                            containerClass: "card-2-mobile card-2-tablet card-5-desktop card-5-text-center "~cardLayoutInfo,
                            timeSuppress: timeSuppress
                        }) | raw}}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    </div>
                {% endif %}

                {% if articles[articleCount] %}
                    <div class="col-12 col-lg-3 left-border hm-sec1_row_2_c3">
                        {{this.render(articleLayoutInfo, {
                            article: articles[articleCount],
                            position: (articleCount+1),
                            containerClass: "card-2-mobile card-2-tablet card-2-desktop card-2--noDescription card--verticalMulti card--verticalMulti-xs "~cardLayoutInfo,
                            timeSuppress: timeSuppress
                        }) | raw}}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}

                        {% if adslots[0] is defined %}
                            <div class="col-12 col-xl-3">
                                <div class="advertisment j-adslot" id="{{adslots[0]}}" data-adshape="mrec"></div>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
 
            </div>
        </div>

        <div class="c-cards-container c-cards-container-xs bottom-border hm-sec1_row_3">
            <div class="row">
                {% for i in 8..11 if articles[articleCount] %}
                    <div class="col-12 col-lg-3 left-border">
                        {{this.render(articleLayoutInfo, {
                            article: articles[articleCount],
                            position: (articleCount+1),
                            containerClass: "card-2-mobile card-2--noDescription card-2-tablet card-4-desktop",
                            timeSuppress: timeSuppress
                        }) | raw}}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>