{% set articleCount = 0 %}
{% set eventCount = 0 %}
{% set cardIndex = 0 %}

{% set cardLayoutInfo = '' %}
{% set articleLayoutInfo = '../_single-article.twig' %}
{% if cardLayout is defined and cardLayout is not empty and cardLayout == 'version2' %}
    {% set cardLayoutInfo = 'card__version2' %}
    {% set articleLayoutInfo = '../_single-article-v2.twig' %}
{% endif %}


{% set colorInverse = '' %}
{% set inverseContainerClass = 'card-property-mobile card-property-tablet card-property-desktop '~ cardLayoutInfo %}
{% if background is defined and background is not empty %}
{% set colorInverse = 'inverse' %}
{% set inverseContainerClass = 'card-property-mobile card-property-tablet card-property-desktop c-cards--inverse '~ cardLayoutInfo %}
{% endif %}
<div class="row" data-section="13">
    <div class="col-12">
        <div class="u-generic-topBorder {{colorInverse}}">
        </div>
        <div class="c-page-head c-page-head-xs {{colorInverse}}">
            <div class="u-heading__large u-heading__large-xs u-pr--6">{{title}}</div>
            {% if linkShow %}
                <a href="{{link}}" class="c-page-head__link">View all</a>
            {% endif %}
        </div>
    </div>

    {% for i in 0..3 if articles[articleCount] %}

    <div class="col-12 col-lg-3">
    
        {# imageSize: {width: 459, height: 278},
        imageSizes: {
            "mobile": {
                width: 550, height: 333
            },
            "mobileLrg": {
                width: 550, height: 333
            },
            "tablet": {
                width: 703, height: 425
            }
        }, #}
        {{this.render(articleLayoutInfo, {
        article: articles[articleCount],
        position: (articleCount+1),
        swap : 'false',
        containerClass: inverseContainerClass,
        template: 'property',
        timeSuppress: timeSuppress
        }) | raw}}
        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
    </div>
    {% endfor %}
</div> <!-- row -->