{% set link = _Blog.getHomeBlogSettings() %}
{% set logo = networkData.templatePath~'/static/images/footer-logo.png'%}
{% if networkData.logoMedia | length > 0 %}
{% set logo = _Media.getMediaUrl(networkData.secondaryLogoMedia, 650, 144, {'crop': 'fit'} )%}
{% endif %}
{% set footerMenu = _Menu.get({'menuType': 'header', 'menuGroupName': 'footer'}) %}
{% set footerBottomMenu = _Menu.get({'menuType': 'header', 'menuGroupName': 'footer-bottom'}) %}

{% if config['footer-settings']['statement'] is defined and config['footer-settings']['statement'] != '' %}
<div class="container">
    <div class="row">
        <div class="col-12 u-margin-top-30 u-margin-bottom-30">
            <p class="c-footer-white__statement">
                {{config['footer-settings']['statement']|raw}}
            </p>
        </div>
    </div>
</div>
{% endif %}

<footer class="c-footer c-footer-sm c-footer--themecolour">
    <div class="container">
        <div class="row c-footer__container">
            <div class="col-12 col-md-3">
                <a href="{{networkData.defaultBlogUrl}}" class="c-footer__logo">
                    <img src="{{logo}}" class="image-fluid" />
                </a>
            </div>
            <div class="col-12 col-md-6">

            </div>
            <div class="col-12 col-md-3">
                <div class="c-footer__addresses">
                    {% if addresses.name != "" %}
                    <p class="c-footer__addresses__content c-footer__addresses__content--name">{{addresses.name}}</p>
                    {% endif %}
                    {% if addresses.email != "" %}
                    <p class="c-footer__addresses__content">{{addresses.email}}</p>
                    {% endif %}
                    <p class="c-footer__addresses__content">
                        {{addresses.address}}<br />{{addresses.city}}<br />{{addresses.state}}
                        {{addresses.postcode}}</p>
                </div>

                <div class="c-footer__social">
                    <div class="u-generic-socialIcons">
                        <a href="javascript:;" class="u-generic-socialIcons__item">
                            <span class="fa fa-facebook"></span>
                        </a>
                        <a href="javascript:;" class="u-generic-socialIcons__item">
                            <span class="fa fa-twitter"></span>
                        </a>
                        <a href="javascript:;" class="u-generic-socialIcons__item">
                            <span class="fa fa-instagram"></span>
                        </a>
                        <a href="javascript:;" class="u-generic-socialIcons__item">
                            <span class="fa fa-linkedin"></span>
                        </a>
                        <a href="javascript:;" class="u-generic-socialIcons__item">
                            <span class="fa fa-vimeo"></span>
                        </a>
                        <a href="javascript:;" class="u-generic-socialIcons__item">
                            <span class="fa fa-rss"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ networkData['styling']['customFooter'] | raw }}

</footer>