{% set defaultBlog = _Blog.getHomeBlogSettings() %}
{% set logo = networkData.templatePath~'/static/icons/footer-logo.svg'%}
{% set footerBottomFavicon = networkData.templatePath~'/static/icons/path.svg'%}
{% set footerMenu = _Menu.get({'menuType': 'header', 'menuGroupName': 'footer'}) %}
{% set footerBottomMenu = _Menu.get({'menuType': 'header', 'menuGroupName': 'footer-bottom'}) %}
{% set addresses = defaultBlog.contact %}
{% set paywall = true %}
{% set subscribeLabel = "Subscribe" %}

{% if config['paywall'] is defined %}
    {% if config['paywall']['active'] is defined and config['paywall']['active'] == false %}
        {% set paywall = false %}
    {% endif %}
    {% if config['paywall']['subscribe-label'] is defined  %}
        {% set subscribeLabel = config['paywall']['subscribe-label'] %}   
    {% endif %}
{% endif %}

{% set loggedin = _User.isGuest() ? false : true %}
{% set user = loggedin ? _User.getUser() : null %}

{% set logoWidth = 650 %}
{% set logoHeight = 144 %}

{% if networkData.logoMedia | length > 0 %}
{% set logo = _Media.getMediaUrl(networkData.secondaryLogoMedia, logoWidth, logoHeight, {'crop': 'fit'} )%}
{% endif %}

{% if config['footer-logo'] is defined %}
    {% if config['footer-logo']['width'] is defined %}
        {% set logoWidth = config['footer-logo']['width'] %}

        {% if config['footer-logo']['height'] is not defined %}
            {% set logoHeight = 0 %}
        {% endif %}
    {% endif %}

    {% if config['footer-logo']['height'] is defined %}
        {% set logoHeight = config['footer-logo']['height'] %}

        {% if config['footer-logo']['width'] is not defined %}
            {% set logoWidth = 0 %}
        {% endif %}

    {% endif %}
{% endif %}

<div class="c-footer__top">
    <div class="container">
        <div class="row">
            <div class="col">
                {% if paywall %}
                {% if loggedin %}
                <div class="c-navigation-4 c-navigation-4-xs">
                    <a class="c-navigation__item" href="{{networkData.defaultBlogUrl}}/user/edit-profile">My
                        account</a>
                    <a href="{{_AppHelper.getLogoffUrl()}}"
                        class="c-navigation__item c-navigation__item--borderred">Log out</a>
                </div>
                {% else %}
                    <div class="c-navigation-4 c-navigation-4-xs">
                    <a href="javascript:;" id="signinBtn" class="c-navigation__item">Log in</a>
                    <a href="{{networkData.defaultBlogUrl}}/subscriptions"
                        class="c-navigation__item subscribe c-navigation__item--borderred">{{subscribeLabel}}</a>
                    </div>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<footer class="c-footer c-footer-sm c-footer--themecolour">
    <div class="container">
        <div class="row c-footer__container">
            <div class="col-12 col-md-4 col-lg-3">
                <div class="c-footer__logo">
                    <a href="{{networkData.defaultBlogUrl}}" class="c-footer__logo--link">
                        <img src="{{logo}}" class="image-fluid" />
                    </a>
                </div>
                <div class="d-black d-xl-none u-margin-top-30 u-margin-bottom-20 text-center text-md-start">
                    <div class="c-footer__addresses">
                        {% if addresses.name != "" %}
                        <p class="c-footer__addresses__content c-footer__addresses__content--name">{{addresses.name}}
                        </p>
                        {% endif %}
                        {% if addresses.email != "" %}
                        <p class="c-footer__addresses__content">{{addresses.email}}</p>
                        {% endif %}
                        <p class="c-footer__addresses__content">
                            {{addresses.address}}<br />{{addresses.city}}<br />{{addresses.state}}
                            {{addresses.postcode}}</p>
                    </div>

                    <div class="c-footer__social">
                        <div class="u-generic-socialIcons justify-content-center justify-content-md-start">
                            {% if config.social.youtube is defined and config.social.youtube is not empty %}
                                <a href="{{config.social.youtube}}" class="u-generic-socialIcons__item" target="_blank">
                                    <span class="icon_youtube">
                                        <img src="{{networkData.templatePath}}/static/icons/youtube_white.svg" alt="youtube icon" class="img-fluid" />
                                    </span>
                                </a>
                            {% endif %}
                            {% if config.social.facebook is defined and config.social.facebook is not empty %}
                                <a href="{{config.social.facebook}}" class="u-generic-socialIcons__item" target="_blank">
                                    <span class="fa fa-facebook"></span>
                                </a>
                            {% endif %}
                            {% if config.social.twitter is defined and config.social.twitter is not empty %}
                                <a href="{{config.social.twitter}}" class="u-generic-socialIcons__item" target="_blank">
                                    <span class="fa fa-twitter"></span>
                                </a>
                            {% endif %}
                            {% if config.social.instagram is defined and config.social.instagram is not empty %}
                                <a href="{{config.social.instagram}}" class="u-generic-socialIcons__item" target="_blank">
                                    <span class="fa fa-instagram"></span>
                                </a>
                            {% endif %}
                            {% if config.social.linkedin is defined and config.social.linkedin is not empty %}
                                <a href="{{config.social.linkedin}}" class="u-generic-socialIcons__item" target="_blank">
                                    <span class="fa fa-linkedin"></span>
                                </a>
                            {% endif %}
                            {% if config.social.vimeo is defined and config.social.vimeo is not empty %}
                                <a href="{{config.social.vimeo}}" class="u-generic-socialIcons__item" target="_blank">
                                    <span class="fa fa-vimeo"></span>
                                </a>
                            {% endif %}
                            {% if config.social.rss is defined and config.social.rss is not empty %}
                                <a href="{{config.social.rss}}" class="u-generic-socialIcons__item" target="_blank">
                                    <span class="fa fa-rss"></span>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8 col-lg-9 col-xl-5 order-3 order-lg-2">
                <div class="row flex-column flex-md-row">

                    {% set footercols = 0 %}
                    {% for i in 0..5 if footerMenu | length > footercols %}
                    <div class="col mt-3 mt-md-0">
                        <div class="c-navigation-3 c-navigation-3-xs">
                            <ul class="c-navigation__grid text-center text-md-start">
                                {{this.render('../_submenu_navigation.twig', {
                                items: footerMenu | slice(footercols, 6),
                                class: '',
                                }) | raw}}
                            </ul>
                        </div>
                    </div>
                    {% set footercols = footercols + 6 %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-12 col-lg-3 offset-lg-1 order-2 order-lg-3 d-none d-xl-block">
                <div class="c-footer__addresses">
                    {% if addresses.name != "" %}
                    <p class="c-footer__addresses__content c-footer__addresses__content--name">{{addresses.name}}</p>
                    {% endif %}
                    {% if addresses.email != "" %}
                    <p class="c-footer__addresses__content">{{addresses.email}}</p>
                    {% endif %}
                    <p class="c-footer__addresses__content">
                        {{addresses.address}}<br />{{addresses.city}}<br />{{addresses.state}}
                        {{addresses.postcode}}</p>
                </div>

                <div class="c-footer__social">
                    <div class="u-generic-socialIcons">
                        {% if config.social.facebook is defined and config.social.facebook is not empty %}
                            <a href="{{config.social.facebook}}" class="u-generic-socialIcons__item" target="_blank">
                                <span class="fa fa-facebook"></span>
                            </a>
                        {% endif %}
                        {% if config.social.twitter is defined and config.social.twitter is not empty %}
                            <a href="{{config.social.twitter}}" class="u-generic-socialIcons__item" target="_blank">
                                <span class="fa fa-twitter"></span>
                            </a>
                        {% endif %}
                        {% if config.social.instagram is defined and config.social.instagram is not empty %}
                            <a href="{{config.social.instagram}}" class="u-generic-socialIcons__item" target="_blank">
                                <span class="fa fa-instagram"></span>
                            </a>
                        {% endif %}
                        {% if config.social.linkedin is defined and config.social.linkedin is not empty %}
                            <a href="{{config.social.linkedin}}" class="u-generic-socialIcons__item" target="_blank">
                                <span class="fa fa-linkedin"></span>
                            </a>
                        {% endif %}
                        {% if config.social.vimeo is defined and config.social.vimeo is not empty %}
                            <a href="{{config.social.vimeo}}" class="u-generic-socialIcons__item" target="_blank">
                                <span class="fa fa-vimeo"></span>
                            </a>
                        {% endif %}
                        {% if config.social.rss is defined and config.social.rss is not empty %}
                            <a href="{{config.social.rss}}" class="u-generic-socialIcons__item" target="_blank">
                                <span class="fa fa-rss"></span>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="c-footer__bottom c-footer__bottom-xs u-margin-top-80 u-tablet-margin-top-40">
            <div class="c-footer__bottom-ls">
                <div class="c-footer__bottom__powered-by">
                    <img src="{{footerBottomFavicon}}" class="powered-img" alt="image" />
                    Designed & Powered by 
                    <a href="https://publish.pagemasters.com/" target="_blank">Pagemasters Publish</a>
                </div>
            </div>

            <div class="c-footer__bottom-rs">
                <div class="c-navigation-0 c-navigation-0-xs c-navigation-0--footer">
                    <ul class="c-navigation__grid">
                        {{this.render('../_submenu_navigation.twig', {
                        items: footerBottomMenu
                        }) | raw }}
                    </ul>
                </div>

                <div class="c-footer__bottom__copyright">
                    &copy; {{ "now"|date("Y")}} {{networkData.title}}
                </div>
            </div>

            
        </div>
    </div>

    {{ networkData['styling']['customFooter'] | raw }}

</footer>