{% set dateFormat = "l, j F Y" %}
{% if config['dateFormat'] is defined and config['dateFormat'] != "" %}
    {% set dateFormat = config['dateFormat'] %}
{% endif %}
{% set theDate = _AppHelper.getCurrentTimestampBasedOnTimezone() %}
{% set date = _AppHelper.getDefaultTimezoneDateTime(theDate, dateFormat) %}
{% set headermenu = _Menu.get({'menuType': 'header', "menuGroupName":"header-main"}) %}
{% set headerTopMenu = _Menu.get({'menuType': 'header', 'menuGroupName': 'header-top'}) %}
{% set headerSubMenu = _Menu.get({'menuType': 'header', 'menuGroupName': 'header-sub-menu'}) %}
{% set loggedin = _User.isGuest() ? false : true %}
{% set user = loggedin ? _User.getUser() : null %}
{% set logo = networkData.templatePath~'/static/icons/main-logo.svg'%}

{% set logoWidth = 650 %}
{% set logoHeight = 144 %}

{% if config['logo'] is defined %}
    {% if config['logo']['width'] is defined %}
        {% set logoWidth = config['logo']['width'] %}

        {% if config['logo']['height'] is not defined %}
            {% set logoHeight = 0 %}
        {% endif %}
    {% endif %}

    {% if config['logo']['height'] is defined %}
        {% set logoHeight = config['logo']['height'] %}

        {% if config['logo']['width'] is not defined %}
            {% set logoWidth = 0 %}
        {% endif %}

    {% endif %}
{% endif %}

{% set paywall = true %}
{% set subscribeLabel = "Subscribe" %}

{% if config['paywall'] is defined %}
    {% if config['paywall']['active'] is defined and config['paywall']['active'] == false %}
        {% set paywall = false %}
    {% endif %}
    {% if config['paywall']['subscribe-label'] is defined  %}
        {% set subscribeLabel = config['paywall']['subscribe-label'] %}   
    {% endif %}
{% endif %}





{% if networkData.logoMedia | length > 0 %}
{% set logo = _Media.getMediaUrl(networkData.logoMedia, logoWidth, logoHeight, {'crop': 'fit'} ) %}
{% endif %}
<div class="c-header c-header-xs">
    {# Begin header top bar #}
    <div class="c-header-top-bar">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="c-header-top-bar__container">
                        <aside class="c-header-top-bar__date">{{date}}</aside>
                        {% if paywall %}
                            {% if loggedin %}
                                <div class="c-navigation-4 c-navigation-4-xs d-flex d-sm-none">
                                    <a class="c-navigation__item" href="{{networkData.defaultBlogUrl}}/user/edit-profile">My
                                        account</a>
                                    <a href="{{_AppHelper.getLogoffUrl()}}"
                                        class="c-navigation__item c-navigation__item--borderred">Log out</a>
                                </div>
                            {% else %}
                                <div class="c-navigation-4 c-navigation-4--inverse c-navigation-4-xs  d-flex d-sm-none">
                                    <a id="signinBtn" href="javascript:;" class="c-navigation__item">Log in</a>
                                    <a href="{{networkData.defaultBlogUrl}}/subscriptions"
                                        class="c-navigation__item c-navigation__item--borderred subscribe">{{subscribeLabel}} 
                                    </a>
                                </div>
                            {% endif %}
                        {% endif %}
                        <aside class="c-navigation-0 c-navigation-0-xs">
                            <ul class="c-navigation__grid">
                                {{this.render('../_submenu_navigation.twig', {
                                    items: headerTopMenu
                                }) | raw }}
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# End header top bar #}
    
    {# Begin header main #}
    <div class="c-header-main">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="c-header-main__container">
                        <div class="">
                            <div class="c-hamburger__wrap js-menu">
                                <div class="c-hamburger__wrap-icons o-hamburger"></div>
                                <div class="c-hamburger__wrap-text">Menu</div>
                            </div>
                        </div>
                        <div class="c-header-main__logo">
                            <a href="{{networkData.defaultBlogUrl}}" class="c-header-main__logo-item">
                                <img src="{{logo}}" class="image-fluid" />
                            </a>
                        </div>

                        {% if paywall %}
                        {% if loggedin %}
                        <div class="c-navigation-4 c-navigation-4--inverse c-navigation-4-xs d-none d-sm-flex">
                            <a class="c-navigation__item" href="{{networkData.defaultBlogUrl}}/user/edit-profile">My
                                account</a>
                            <a href="{{_AppHelper.getLogoffUrl()}}"
                                class="c-navigation__item c-navigation__item--borderred">Log out</a>
                        </div>
                       {% else %}
                        <div class="c-navigation-4 c-navigation-4--inverse c-navigation-4-xs  d-none d-sm-flex">
                            <a id="signinBtn" href="javascript:;" class="c-navigation__item">Log in</a>
                            <a href="{{networkData.defaultBlogUrl}}/subscriptions#subscriptions"
                                class="c-navigation__item c-navigation__item--borderred subscribe">{{subscribeLabel}} 
                            </a>
                        </div>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# End header main #}

    {# Begin header navigation #}
    <div class="c-header-navigation d-none d-sm-block">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="c-navigation-2 c-navigation-2-xs">
                        <ul class="c-navigation__grid my-3">
                            {{this.render('../_submenu_navigation.twig', {
                            items: headerSubMenu
                            }) | raw }}
                        </ul>
                    </div>
                    <div class="u-generic-topBorder"></div>
                </div>
            </div>
        </div>
    </div>
    {# End header navigation #}
</div>

{# Begin sidebar navigation #}

<div class="c-sidebarMenu">
    <a href="/subscriptions" class="c-sidebarMenu__subscribe">
        <span>
        {% if config['subscribe-label'] is defined and config['subscribe-label'] is not empty %} 
            {{config['subscribe-label']}} 
        {% else %} 
            Subscribe 
        {% endif %} 
         today</span>
        {#<span>
            <img src={{networkData.templatePath}}/static/icons/icons-navigation-arrow.svg />
        </span>#}
    </a>
    <div class="c-sidebarMenu__closeInfo">
        <button class="js-closeMenu">
            <span>
            <img src={{networkData.templatePath}}/static/icons/cross-reverse.svg />
            </span>
            <span>CLOSE</span>
        </button>
        <div class="u-generic-socialIcons">
            {% if config.social.facebook is defined and config.social.facebook is not empty %}
                <a href="{{config.social.facebook}}" class="u-generic-socialIcons__item" target="_blank">
                    <span class="fa fa-facebook"></span>
                </a>
            {% endif %}
            {% if config.social.twitter is defined and config.social.twitter is not empty %}
                <a href="{{config.social.twitter}}" class="u-generic-socialIcons__item" target="_blank">
                    <span class="fa fa-twitter"></span>
                </a>
            {% endif %}
            {% if config.social.instagram is defined and config.social.instagram is not empty %}
                <a href="{{config.social.instagram}}" class="u-generic-socialIcons__item" target="_blank">
                    <span class="fa fa-instagram"></span>
                </a>
            {% endif %}
            {% if config.social.linkedin is defined and config.social.linkedin is not empty %}
                <a href="{{config.social.linkedin}}" class="u-generic-socialIcons__item" target="_blank">
                    <span class="fa fa-linkedin"></span>
                </a>
            {% endif %}
            {% if config.social.vimeo is defined and config.social.vimeo is not empty %}
                <a href="{{config.social.vimeo}}" class="u-generic-socialIcons__item" target="_blank">
                    <span class="fa fa-vimeo"></span>
                </a>
            {% endif %}
            {% if config.social.rss is defined and config.social.rss is not empty %}
                <a href="{{config.social.rss}}" class="u-generic-socialIcons__item" target="_blank">
                    <span class="fa fa-rss"></span>
                </a>
            {% endif %}
        </div>
    </div>
    <div class="c-search-bar">
        <form class="c-search-bar__form" method="get" id="searchform" action="{{networkData.defaultBlogUrl}}/search">
            <div class="c-search-bar__submit"></div>
            <input class="c-search-bar__input" type="text" name="s" placeholder="Search" />
            <button class="c-search-bar__icon" type="submit" id="searchsubmit">
                <img src={{networkData.templatePath}}/static/icons/icons-navigation-arrow-primary.svg />
            </button>
        </form>
    </div>
    <div class="c-sidebarMenu__mainNav">

        <ul class="c-navigation-1__list">
            {{ this.render('../../../partials/_menu.twig', {'menu': headermenu}) | raw }}
        </ul>

    </div>
    <div class="c-sidebarMenu__subNav">
        <div class="c-navigation-5 c-navigation-5-xs">
            <ul class="c-navigation__grid">
                {{this.render('../_submenu_navigation.twig', {
                items: headerTopMenu
                }) | raw }}
            </ul>
        </div>
    </div>
    <div class="c-sidebarMenu__copyInfo">
        <div class="copy-text">&copy; {{ "now"|date("Y")}} {{networkData.title}}</div>
    </div>
</div>

{# End sidebar navigation #}